[2017-07-11 16:41] #1961 closed

[2017-07-11 18:10] #1815 closed

[2017-07-11 18:11] roblarsen commented on #1879
Closing because I don't think there's a better answer. I've got some thoughts on how we might do some things going forward that might help this (and some other things) but... nothing for now.

[2017-07-11 18:11] #1879 closed

[2017-07-11 18:56] roblarsen commented on #1554
And... #1963

@coliff  this issue outlines some additional documentation tasks. We don't need to get through everything for 6.0, but a good documentation pass with this in mind seems like a good idea.

[2017-07-11 19:03] roblarsen commented on #1897
![download](https://user-images.githubusercontent.com/361421/28085551-0f4b53e0-664a-11e7-8f8d-9fca928e2e6d.jpg)

[2017-07-12 14:45] roblarsen commented on #1671
Two years later... Post-6.0 this will be my priority. I think this is great.

[2017-07-12 14:47] roblarsen commented on #1880
We'll add another help wanted note to the site with 6.0

[2017-07-12 14:47] #1880 closed

[2017-07-12 15:08] roblarsen opened #1967 "Update Changelog"
**I'm submitting a ...**

- [ ] bug report
- [ ] feature request
- [x ] other (Please do not submit support requests here (below))

Update the changelog, yo!

[So many commits](https://github.com/h5bp/html5-boilerplate/commits/master)

[2017-07-13 13:12] coliff commented on #1554
Cool. I'll work on getting a PR in for the webmanifest.

Also, I noticed that there isn't any mention about the `.gitattributes` file in the misc.md when there probably should be (`.gitignore` is mentioned there). I'm not too familiar with _exactly_ how that file works (though did skim-read the docs on the Git site about it: https://git-scm.com/docs/gitattributes).

[2017-07-17 17:39] roblarsen commented on #1967
Updated, I'll make sure every PR that needs it includes changes to the changelog going forward. Keeping this open as a reminder until we ship 6

[2017-07-20 16:30] coliff commented on #1554
Doc changes left to do that I can think of....

**Usage**

- We suggest using a build script such as ant - maybe also suggest Gulp and Grunt as they are more popular?

**FAQ**

- Remove the ‘Google Analytics at the bottom’ FAQ as it is covered elsewhere in the docs.. Plus performance isn’t really an issue since it loads defer/async
- Remove the section on using Initializr since it isn’t maintained

[2017-07-20 16:44] roblarsen commented on #1554
All good. Some comments:

👍  I would add a note that we are going to add a command line utility that does some of what initializr offered to v7 (because that's a thing now, I guess, since I said it twice.)

Summarize and link to it?

[2017-07-20 17:09] roblarsen commented on #1554
That section needs a fuller rewrite. Creating a PR for that one.

[2017-07-21 12:04] coliff opened #1977 "Add a SUPPORT.md file to the .github/ folder"
Add a SUPPORT file to the .github/ folder directing folks to Stack Overflow if they have a general question about using H5BP. A link to this file will now display when someone opens a new issue which could cut down on new issues being opened unnecessarily. I realise the content in this file could have overlap in the existing `ISSUE_TEMPLATE.md` file but I think it'd be worth adding.

It's a new Gi

[2017-07-22 01:30] roblarsen commented on #1977
Let us do that.

[2017-07-22 05:23] coliff commented on #1801
I think there's two questions here:

- **Should we include a `.htmlhintrc` in the src/dist folders for users?**
HTMLHint is only really intended to be used to lint full, compiled HTML pages (for example, be default it checks that every file has a `<title>` tag so It is not really suitable for most server side or templating languages. Therefore I think it’s of limited value as so many users are usi

[2017-07-22 08:18] ArmorDarks commented on #1801
Inability to use html linters with templating languages is something that always prevented us from using it. React is a bit another story, since jsx can be effectively linted with ESLint.

Linting build seems to be beneficial for project, but not that for end user. But seems to be better than nothing, at least it will prevent occasional errors in source of boilerplate.

Btw, I don't see reasons to

[2017-07-23 06:53] coliff commented on #1977
Added in #1978.

[2017-07-23 06:53] #1977 closed

[2017-07-26 13:21] ArmorDarks commented on #1913
I'd recommend to look into [Standard](https://standardjs.com/) which is addition on top of ESLint, and quite popular one. To be honest, it as relief for use to finally stop maintaining ESLint configs...

[2017-07-26 13:32] ArmorDarks commented on #1670
Btw, worth to review report once again, since it is different now.

[2017-07-26 17:02] AlexxNica commented on #1913
@ArmorDarks Even though I like the Standard style, I don't think it's good to enforce others to follow it. Especially developers without much knowledge or experience, as their code may lead to unexpected runtime errors and cause further problems, even leading to increased number of issues for the project.

As much as I like programming language's flexibility, such perk comes at a price, and the qu

[2017-07-26 17:04] AlexxNica commented on #1913
@ArmorDarks Even though I like the Standard style, I don't think it's good to enforce others to follow it. Especially developers without much knowledge or experience, as their code may lead to unexpected runtime errors and cause further problems, even leading to increased number of issues for the project.

As much as I like programming language's flexibility, such perk comes at a price, and the qu

[2017-07-26 19:02] ArmorDarks commented on #1913
That all will boil down to codestyle disputes anyway. I'm just proposing battle-tested alternative.

Btw, I should highlight, that no matter with what option boilerplate will go (be it ESLint with project's own rules, be it popular ESLint config, like airbnb, or be it Standard), _it will anyway enforce something on users to follow_. So it's just a matter of what exactly will be enforced.

[2017-07-26 19:18] roblarsen commented on #1913
At this point I want to switch to eslint with the least possible interruption. That includes blowing away the existing rules we have in place wholesale without at least a discussion of what new rules should be (which is why the existing PR for eslint is DOA.)

I will die on the hill of semicolons, for example.

As a note: the actual consumers of the ruleset is limited to the maintainers and anyone

[2017-07-26 19:31] ArmorDarks commented on #1913
That's just few strokes with regex, you know. But whether use them or no for some people indeed seems to be painful theme...

Buy you ship the JS code, which will be included in other projects, which will later be linted, and people will be forced or to edit it to fit their rules, or to use HTML5Boilerplate rules. That's why JS should be as close to JS community standards as possible, and I think

[2017-07-26 19:38] roblarsen commented on #1913
Good points. It's good to be reminded of the downstream effects of even the small amount of JS we do ship.

And to clarify I'm not against making changes. What I don't want to do is make wholesale changes without discussion (so thanks for being part of the discussion 👍 ) While I'm rather desperate to get 6.0 out the door right now, I'm generally in no rush to make changes here unless they're the r

[2017-07-31 20:45] roblarsen commented on #1897
I'm going to update the JS docs page and then... I'm shipping this thing? Something like that. WTHELL

[2017-08-01 17:29] roblarsen commented on #1554
I'm going to close this because, honestly. I just want to get 6.0 out the door and we can continue to tweak the docs.

[2017-08-01 17:29] #1554 closed

[2017-08-01 17:31] roblarsen commented on #1967
we've just had content updates since. closing, yo!

[2017-08-01 17:31] #1967 closed

[2017-08-01 18:35] roblarsen commented on #1897
This part is buttoned up. Just need to update the site.

[2017-08-07 08:12] simonferry commented on #1947
But why? Whu should you publish that?

[2017-08-08 21:49] joe-watkins opened #1985 "macOS - VoiceOver / Chrome announcing visually hidden text out of order"
**I'm submitting a ...**

- [x] bug report
- [ ] feature request
- [ ] other (Please do not submit support requests here (below))

## Steps to reproduce
1. Visit https://codepen.io/joe-watkins/pen/OjpqxL with Safari or Chrome and VoiceOver activated.
2. Tab to each link and listen to how they are announced.

## Expected Results
The visually hidden text using HTML5 boilerplate's `.visuallyhidden {}

[2017-08-08 23:11] scottaohara commented on #1985
Doing some [additional testing on this](https://codepen.io/scottohara/pen/LjyYbm) and I've identified that it's the negative margin that is specifically to blame for the incorrect reading order.

If you either 1. delete the negative margin or 2. set the margin to zero, the correct reading order is reinstated.

Awesome find @joe-watkins

[2017-08-09 01:12] roblarsen commented on #1985
🥇 bug report @joe-watkins

Thanks for bringing this to our attention.

Changes to this class will require a ton of testing (which you've already started 👍) to make sure there are no regressions in other situations. I'd also _really_ like to understand the underlying issue.

[2017-08-09 01:30] joe-watkins commented on #1985
@scottaohara Aww interesting -- I'm sure that negative margin is there for a reason... can anyone remember?

@roblarsen tnx! :) Glad to help. Reading order is being affected by visual presentation some how. Very odd. It sure would be less heavy handed to look at the `margin` declaration per @scottaohara
 's finds rather than changing `position` and adding `display`.

But, I'm wondering if it may b

[2017-08-09 01:38] roblarsen commented on #1985
@joe-watkins it's an [OLD commit](https://github.com/h5bp/html5-boilerplate/commit/07768edc28ac7843f230ab617c58ff1fd9dd49c1) relating to issue #194, where there is a LOT of discussion of the original code. I'll dive in a bit later to check it out myself, but there's got to be some reasoning in there.

[2017-08-09 02:21] scottaohara commented on #1985
I assumed the negative margin was for legacy browsers (since the linked commit/issue reference ie7), as I have yet to find a situation where it's been useful/needed at all in ie9+ projects.

doing a quick check in ie7/8/9, i'm still trying to find exactly what that margin did... possibly a fall back to negate a stray pixel if the visuallyhidden content had a background color?

[2017-08-09 16:31] joe-watkins commented on #1985
@scottaohara Yes, after poking around a bit it looks like it is to combat single pixel appearing.

I wonder if this dark art would be considered:

[code]

[2017-08-09 16:46] scottaohara commented on #1985
while i am a fan of the occasional practicing of dark arts, @joe-watkins, the README states it supports ie9+

I haven't seen the pixel in ie9 plus, have you with your testing?

[2017-08-09 17:51] joe-watkins commented on #1985
@scottaohara Nor have I seen any issues in IE9... even by giving it a huge width/height and background color. `clip` is doing the magic with the visibility.

Removal of the negative margin sounds like the fix.

Thoughts?

[2017-08-11 02:45] folknor commented on #1947
Because someone else already did, and there's 100 downloads per day, which means that some people are using it for whatever reason.

[2017-08-11 13:15] roblarsen commented on #1985
We don't need to worry about old IE anymore, so if we can clean this up with the removal of the negative margin, then that's great. I'd love to see a PR for this. One last bug fix before I ship 6.0.

[2017-08-14 15:16] roblarsen commented on #1985
Closed via #1986

[2017-08-14 18:29] joe-watkins commented on #1985
Noticed issues persists when a `line-height` is defined. Continued testing needed.

https://github.com/h5bp/html5-boilerplate/pull/1986#issuecomment-322253065

[2017-08-14 18:36] scottaohara commented on #1985
[my comment outlining additional options to rectify the bug](https://github.com/h5bp/html5-boilerplate/pull/1986#issuecomment-322271340)

[2017-08-14 18:40] roblarsen commented on #1985
BUMMER.

The good news is, removing old IE code is still a valid thing to do these days.

[2017-08-15 17:08] joe-watkins commented on #1985
Hey all, so after some fiddling around with the help of @scottaohara in https://github.com/h5bp/html5-boilerplate/pull/1986 we have landed on a solution a bit more like what I originally was thinking with a twist..bringing back the negative margin which helps with visually oddities with focus ring, removing the absolute positioning, and introducing `display: inline-block;` and things appear to be

[2017-08-15 20:34] roblarsen commented on #1947
[I started setting this up](https://github.com/h5bp/html5-boilerplate/blob/npm/package.json)

[2017-08-16 13:22] joe-watkins commented on #1985
As pointed out by @tomasz1986 in https://github.com/h5bp/html5-boilerplate/pull/1986#issuecomment-322661868 the absolute positioning was structural for the `clip` for old browsers. Recommending removal of that.

[code]

https://codepen.io/joe-watkins/pen/vJWMLp

With a green light I could submit a PR for this :)

[2017-08-16 14:53] roblarsen commented on #1985
What testing has been done? Is there any missing coverage?

[2017-08-16 18:26] joe-watkins commented on #1985
Hi @roblarsen below you will find the browsers/AT I've tested the latest CSS with and all is well.

## SR/AT Tested (works as expected in)
Win IE11,IE10,FF,Chrome with JAWS 18/17
Win IE11 w/Dragon Naturally Speaking
Win IE11,IE10,FF,Chrome NVDA
macOS Seirra Safari,Chrome,FF VoiceOver
iOS 10 VoiceOver / Safari
Android 7 TalkBack / Chrome

## Browsers tested (works - visually hides text in)
Win Edge

[2017-08-17 15:22] roblarsen commented on #1985
Thanks @joe-watkins, that's perfect

[2017-08-17 16:08] roblarsen commented on #1985
closed via #1989

[2017-08-17 16:57] roblarsen commented on #1947
closed via #1988

[2017-08-17 16:57] #1947 closed

[2017-08-17 17:06] roblarsen commented on #1897
[it is done](https://github.com/h5bp/html5-boilerplate/tree/6.0.0)

[2017-08-17 17:06] #1897 closed

[2017-08-19 00:04] svinkle commented on #1985
Bad news: without `position: absolute` the `.visuallyhidden` element adds space to the container.

Demo: https://codepen.io/svinkle/pen/LjQJbZ

/cc @joe-watkins @scottaohara @roblarsen

[2017-08-19 02:28] scottaohara commented on #1985
(╯°□°）╯︵ ┻━┻

[2017-08-19 02:30] svinkle commented on #1985
I mean, you _could_ apply a work-around to the extra space by specifying a container `width` and `height` but that's not realistic. 😕

[2017-08-19 02:33] joe-watkins commented on #1985
@svinkle Ahh nuts! Looks like a code/whitespace thing: https://codepen.io/joe-watkins/pen/yovRzJ (hmmmff!)

[2017-08-19 02:40] roblarsen commented on #1985
This issue is like a see-saw.

[2017-08-19 02:41] svinkle commented on #1985
@joe-watkins Interesting…

@roblarsen I might suggest a roll-back on the latest merge until this is sorted. Having extra, visual space is worse than the read order bug, imo.

[2017-08-19 02:46] scottaohara commented on #1985
so as @joe-watkins said, it's definitely related to the `display: inline-block;` causing [extra white space](https://css-tricks.com/fighting-the-space-between-inline-block-elements/).

initial testing of setting margin to `margin: -1px -1px -1px -.25em;` seems to be doing the trick right now: https://codepen.io/scottohara/pen/GvQYOe?editors=1100

but would love additional hammering please

[2017-08-19 03:25] joe-watkins commented on #1985
This is in no way a fix.. but does appear to address this case. `float` Needs further testing.

https://codepen.io/joe-watkins/pen/YxeJJB?editors=1100

Perhaps we can't fix a Webkit/Blink bug from this angle and need to revert?

[2017-08-19 03:32] svinkle commented on #1985
`float` is causing more/different spacing issues on the site I'm working on…

I vote revert.

[2017-08-19 03:36] scottaohara commented on #1985
yeh.  revert is probably the way to go, but humor me and give this a shot, @svinkle

[code]

[2017-08-19 03:38] svinkle commented on #1985
@scottaohara No dice; reads out of order. 😕

[2017-08-19 03:39] scottaohara commented on #1985
time to re-file a bug with webkit

[2017-08-19 14:18] joe-watkins commented on #1985
👍 on revert.

[2017-08-19 14:49] joe-watkins commented on #1985
I've submitted two bugs. I know @svinkle has submitted one with Apple in the past.

**Chrome:**
https://bugs.chromium.org/p/chromium/issues/detail?id=757177

**Apple:**
Bug ID: 33979302

@roblarsen We may need to revert back to before #1986

[2017-08-19 18:06] scottaohara commented on #1985
Do we want to revert to before or after the removal of the negative margin?
`margin: 0;` clearly wasn't the fix we needed, but it did help for some use cases & didn't introduce any other bugs.

Thoughts?

[2017-08-19 18:35] svinkle commented on #1985
I'd say revert to abc64efcb71847049620bf8ae78f3cd5ce26bf5e. The class definition was quite stable at this point in time.

I can't say for certain, but pretty sure `margin: -1px` exists to offset the `width: 1px` and `height: 1px` properties.

[2017-08-19 18:43] roblarsen commented on #1985
I'm going to revert to the stable version later today

[2017-08-19 19:01] scottaohara commented on #1985
@svinkle right, it offsets it, but from what we've identified, that seems to be part of the issue, offsetting it outside of the focus ring area.

being that it's a position absolute element, the margin doesn't affect the DOM, the clip/clip-path are what actually hide the element. this just seems to be arbitrarily moving it, which may have had a purpose in older browsers, but other versions of the

[2017-08-19 19:48] svinkle commented on #1985
@scottaohara Sounds good to me! If we're certain it serves no purpose and doesn't negatively effect the class, by all means. 👍

[2017-08-19 19:59] scottaohara commented on #1985
@svinkle @joe-watkins

I continue to battle against this...
I've included multiple tests and am trying out various versions of the hiding content classes.

Presently I'm using the
.at-only class that I often use myself and have modified a bit (current version in this codepen reads content in order, in the testing i'm currently doing)
.visuallyhidden from html5bp (without margin)
.snooka from https

[2017-09-17 11:00] KayLeung commented on #1985
As I remember, the current code was fixed the `width: 0; height:0` problem for VoiceOver [ref: https://snook.ca/archives/html_and_css/hiding-content-for-accessibility]. I tested the latest MacOS and has no this issue. Is it the right time back to a simple workaround with ZERO value?

Could anyone test the older MacOS?

[2017-09-19 20:28] bradkemper commented on #1985
Has anyone tried `margin: 0 -1px -1px 0`? I think that would prevent offsetting content by the 1px width and height, without influencing the width and height of the container, nor the reading order. Assuming left to right reading.

[2017-09-21 11:51] n1x1 commented on #1898
I'm sorry but am not sure if I get it...do I need only this link in my head element?
 '//html5shiv.googlecode.com/svn/trunk/html5.js'

or do I need all of this with the link above?

[2017-09-21 12:40] coliff commented on #1898
@n1x1  That link is old... Use this instead:
[code]

[2017-09-21 14:12] n1x1 commented on #1898
@coliff Thanks, how can I stay up to date with scripts like this one? ...I'm still learning and don't know all the right staff and places to be up to date.
And just to be sure once more, I copy this script in the header of my index.html file?

[2017-09-21 14:22] coliff commented on #1898
Yes, copy and paste that snippet above in the header of all of your pages - then you can forget about it. That script isn't very likely to be updated to a newer version. It just makes things a bit better for IE 8. Bootstrap have a good starter HTML template you may be interested in: https://getbootstrap.com/docs/3.3/getting-started/#template

[2017-09-22 11:25] n1x1 commented on #1898
@coliff ok, thank you very much, big help.

[2017-09-26 11:07] Math3v opened #1995 "Best practices for iPhone X"
**I'm submitting a ...**

- [ ] bug report
- [x] feature request
- [ ] other (Please do not submit support requests here (below))

With the announcement of iPhone X, Apple has released a new guideline for web developers. In order to provide the best user experience on the new iPhone X, we should consider this [guideline](https://webkit.org/blog/7929/designing-websites-for-iphone-x/).

[2017-09-28 12:21] afercia commented on #1985
For reference, similar issue in WordPress:
https://core.trac.wordpress.org/ticket/42006

[2017-10-01 08:34] XhmikosR commented on #1801
IMO, you should stay away from non-standard tools.

It's like you use no validator at all, and I'm speaking from experience since on Bootstrap v4-dev they had switched to htmlhint which basically didn't catch any real errors.

My suggestion would be to use the official validator vnu.jar even though it requires Java. You can have a wrapper script which would run it if Java is available.

I made a s

[2017-10-02 09:49] slackday commented on #1961
Nice that this has been removed. I've been trying to fix it in projects using this build of Bootstrap. For anyone else using alpha/beta builds of Bootstrap and needs to fix this issue you can add

[code]

to your project stylesheet.

[2017-10-09 06:23] Vincent2015 opened #1997 "Gulp build uses node-sri which uses cat and fails in Powershell/cmd.exe"
**Error: Command failed: cat node_modules/jquery/dist/jquery.min.js | openssl dgst -sha256 -b.......**

[2017-10-09 13:48] roblarsen commented on #1997
@Vincent2015  "When rerun?"

Meaning you can build the project once?

does "node_modules/jquery/dist/jquery.min.js" exist?

[2017-10-12 04:15] fixframe commented on #1985
good job

[2017-10-12 04:16] fixframe commented on #1985
good job

[2017-10-20 04:28] byog opened #2002 "Is there a mistake in the sentence?"
**I'm submitting a ...**

- [ ] bug report
- [ ] feature request
- [x] other (Please do not submit support requests here (below))

The sentence “Include the following meta tag will unintrusively allow the **user the option** to download your iOS app” in extend.md lets me confused.I think should "allow the user use the option".

[2017-10-20 06:04] coliff commented on #2002
I think you're right that the current sentence doesn't quite make sense.
"allow the user use the option" doesn't make sense either though. I'd suggest:

[2017-10-20 06:15] byog commented on #2002
I think so.

[2017-10-20 07:31] byog commented on #2002
I need to open a PR for this?

[2017-10-23 20:44] paulrobello commented on #1997
I am running on a Win64 OS and the command output below is clearly trying to run linux related commands such as cat.

(node:17044) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): Error: Error: Command failed: cat node_modules/jquery/dist/jquery.min.js | openssl dgst -sha256 -binary | openssl enc -base64 -A
'cat' is not recognized as an internal or external command,

[2017-10-23 20:53] roblarsen commented on #1997
@paulrobello thanks! I get it now. The "rerun" distracted me from  `cat.` The real issue is just running the build under powershell/cmd.exe.

If you need to build the project right now, use [git bash, which comes with git for windows](https://git-for-windows.github.io/)

I know that works as it's what I use on Windows to manage the project.

I'll rename the issue to better reflect the bug.

[2017-10-24 13:23] roblarsen commented on #1997
[The culprit](https://github.com/odino/node-sri/blob/master/index.js#L23)

[2017-10-24 15:45] roblarsen commented on #1997
If someone wanted to rewrite that task to use something else (maybe [ssri](https://github.com/zkat/ssri)) then I would be very happy and I would merge that pull request.

[2017-10-24 15:47] roblarsen commented on #2002
@byog if you would like the change to be added to the project.

[2017-10-25 01:06] Riko1988 opened #2004 "Iphone X"
**I'm submitting a ...**

- [ ] bug report
- [x] feature request
- [ ] other (Please do not submit support requests here (below))

## Notes:

* Please **do not** use the issue tracker for personal support requests (use
  [Stack Overflow](https://stackoverflow.com/questions/tagged/html5boilerplate)).

* Please **do not** derail or troll issues. Keep the discussion on topic and
  respect the opinion

[2017-10-25 01:30] #2004 closed

[2017-10-25 04:42] byog commented on #2002
Ok, I will do.

[2017-10-31 04:19] #2002 closed

[2017-12-13 19:53] stayawayknight opened #2013 "Gulp build runSequence doesn't finish (Windows Powershell)"
**I'm submitting a ...**

- [x] bug report
- [ ] feature request
- [ ] other (Please do not submit support requests here (below))

The runSequence of the task "build" in the gulpfile.babel.js does not finish properly after running "gulp build". For this reason, the task "modernizr" is not being executed (see [comments here](https://www.npmjs.com/package/run-sequence#usage)). This is caused by the

[2017-12-14 22:10] stayawayknight commented on #2013
npm version: 3.8.9
gulp version: 3.9.1
OS: Win 10, 64 bit

I'm doing the following:
1. Cloning the repo (release v6.0.1)
2. Running _npm install_
3. Executing _gulp build_

At this point I receive the following console output:
[23:01:43] Requiring external module babel-register
[23:01:44] Using gulpfile C:\xampp\htdocs\GulpTest\gulpfile.babel.js
[23:01:44] Starting 'build'...
[23:01:44] Starting '

[2018-01-12 07:25] coliff opened #2014 "Google gtag.js is now recommended over analytics.js"
When adding a new site to Google Analytics the tracking code provided is now gtag.js which works a bit differently to the previously recommended analytics.js.

[code]

Google Universal Analytics (Analytics.js) is still available to users but I think we need to clarify in the documentation that the useful tracking snippets we currently have in H5BP (Anonymize IP addresses, Track jQuery AJAX request

[2018-01-12 18:17] roblarsen commented on #2014
Report back on what you find. I'm so many years removed from working on sites (vs. super-secret doubleplus fancy web apps) that I don't have any clue about this stuff anymore.

[2018-01-22 07:19] coliff commented on #2013
This sounds like it may be related to: #1997 (https://github.com/h5bp/html5-boilerplate/issues/1997).
If you don't have [git bash, which comes with git for windows](https://git-for-windows.github.io/) then I think it will fail at that point.

[2018-01-22 14:41] roblarsen commented on #2013
Ah, I continue to look at these things in Git bash and never see the failures.

[2018-01-26 13:37] coliff opened #2020 "Remove travis-after-all (deprecated)"
The Gulp file currently has 'travis-after-all' though this project has been deprecated (https://github.com/alrra/travis-after-all).
The functionality it provided is now supported natively by Travis CI via Build Stages (https://blog.travis-ci.com/2017-05-11-introducing-build-stages).

I'm not too familiar with Travis so opening this as an issue if someone else wants to open a PR

[2018-02-02 12:47] mgol opened #2021 "clip-path in visuallyhidden destroys scrolling performance"
**I'm submitting a ...**

- [x] bug report
- [ ] feature request
- [ ] other (Please do not submit support requests here (below))

## Bug reports

The `visuallyhidden` class has started using `clip-path` since #1920 has landed. Unfortunately, when used inside of a container with `overflow: scroll`, even with `will-change: scroll-position` it makes the whole container repainted on every animation f

[2018-02-04 21:27] stardisblue opened #2023 "Atom Feed url in documentation"
**I'm submitting a ...**

- [x] bug report
- [ ] feature request
- [x] other (Please do not submit support requests here (below))
- [x] documenation

The atom feed link point to an expired domain with a tons of advertisement redirections.
https://github.com/h5bp/html5-boilerplate/blob/master/dist/doc/extend.md#atom
http://www.atomenabled.org/developers/syndication/ <- proof

[2018-02-05 07:09] coliff commented on #2023
Thanks for reporting this @stardisblue  - I opened a PR to fix it (updated link to point to Wikipedia article on Atom Feed)

[2018-02-05 17:45] #2023 closed

[2018-02-06 01:27] #2021 closed

[2018-02-14 08:51] Vista1nik commented on #1997
Try to build this project in bash.

If you on Windows 10 you can use
**Ubuntu** from Windows Store!
or use `https://git-scm.com`

[2018-02-14 11:39] roblarsen commented on #1997
Thanks @Vista1nik for the pointer to Ubuntu in the Windows Store. That's a new alternative for folks.

I'd still like to fix the underlying issue so that the build is just node and we won't have to worry about it at all.

[2018-03-06 02:54] roblarsen commented on #1995
Easy, no tech PR here!

[2018-03-06 02:55] roblarsen commented on #2014
Where did we land with this?

[2018-03-06 02:57] roblarsen commented on #1927
Closing because of cobwebs.

[2018-03-06 02:57] #1927 closed

[2018-03-06 07:13] coliff commented on #1801
HTMLHint is unfortunately no longer actively maintained (https://github.com/yaniswang/HTMLHint) and as @XhmikosR says - there are issues with so I vote to close this issue.

[2018-03-06 15:20] roblarsen commented on #1801
Crickets + the above

[2018-03-06 15:20] #1801 closed

[2018-03-29 12:49] #1997 closed

[2018-03-29 12:49] roblarsen commented on #2013
closed via #2031

[2018-03-29 12:49] #2013 closed

[2018-03-29 16:47] TheDancingCode commented on #1913
One option is to apply the [`eslint:recommended` config](https://eslint.org/docs/user-guide/configuring#using-eslintrecommended) which reports common problems, but doesn't really impose stylistic preferences. In that case, ESLint would just serve to prevent errors and bugs. It really is a kind of minimal, common sense config.

The only style-related rules I would propose to add in that case are th

[2018-03-29 18:14] ArmorDarks commented on #1913
Just for the information, none of the popular code styles using 4 spaces indents anymore.

[2018-03-30 00:58] roblarsen commented on #1913
Reminder from earlier in the discussion

[2018-03-30 07:56] ArmorDarks commented on #1913
Imagine that it's surviving game, and like we're in the 2005 year deciding on tabs vs spaces.

Btw, worth mention the thing about Prettier — it should be paired with good ESLint config, because mostly all Prettier maintains is code style, while ESLint configs (and especially Standard's one) covering also a lot of non-stylistic good or bad practices.

[2018-04-04 10:48] Malvoz commented on #1985
For some _inspiration_ (read: copy/paste), this is how [Google AMP](https://github.com/ampproject/amphtml/blob/master/css/amp.css) does it:

[code]

[2018-04-04 12:16] svinkle commented on #1985
Thanks for pointing this out, @Malvoz. Unfortunately the bug persists when testing with @joe-watkins's original pen here: https://codepen.io/joe-watkins/pen/OjpqxL 😕

These days I'm using `aria-label` more than `.visually-hidden` elements if I can help it. Support is 💯and ensures a properly formatted label in the accessibility tree.

[2018-04-04 14:38] joe-watkins commented on #1985
@Malvoz Interesting,.. I hadn't experimented much defining a size of 4px. Such a weird bug. I wish Safari wasn't such a walled garden.

@svinkle Dagnabbit! I can still get `aria-label` to fail in current Safari / VO on an anchor still when using only the up/down arrow keys for navigation. https://s.codepen.io/joe-watkins/debug/QMpPQQ

[2018-04-04 14:45] scottaohara commented on #1985
@joe-watkins yeh, Safari + VO don't respect ARIA as much when using up/down arrows to navigate content.

aria-labels and aria-hidden are not respected at all, just to name a couple.  Up/down arrows allow me to exit the majority of modal dialog scrips I've come across :)

But back to the mention of width, if you recall when we were hammering on this, I found that if the width is not restricted, thi

[2018-04-04 15:47] afercia commented on #1985
Maybe because with Safari and VoiceOver you have to use `Control-Option-Right Arrow` and `Control-Option-Left Arrow` to navigate content? ;) `aria-label` and `aria-hidden` work perfectly for me and I haven't heard of any big issues with them.

[2018-04-04 15:50] scottaohara commented on #1985
That's one way to navigate content.  but navigating line by line can be done with up/down arrows.  so *have to* is not exactly an accurate statement there.

[2018-04-04 15:57] afercia commented on #1985
As well as "aria-labels and aria-hidden are not respected at all" :)

[2018-04-04 16:08] joe-watkins commented on #1985
@afercia Yes using VO keys things behave as expected, but if you don't use the VO keys and only the arrow keys `aria-label` fails.. so the alternative method for navigating is an option and there isn't a way to enforce one method of navigation over another. Quick nav behaves well which is good :)

[2018-04-04 16:30] afercia commented on #1985
@joe-watkins fair enough :) my point is that in VoiceOver `only the arrow keys` works only in Quick Nav (which I guess it's rarely used), otherwise you have to use the VO modifier. This is a different model compared to the one used by screen readers on Windows and users are aware of it.
So there's no great point in saying "aria-labels and aria-hidden are not respected at all" when actually using t

[2018-04-04 16:52] scottaohara commented on #1985
It's a different way for a user to navigate a document, yes, but it's not "wrong information".  if a user uses VO key + arrow keys to navigate content and they have one experience, and then they use up/down arrow keys to navigate content and they experience different content announcements that may not be clear to them as to why.

the fact of the matter is that an aria-label will not be read out wh

[2018-04-04 18:39] Malvoz commented on #1985
@aferica, @scottaohara

Concerning navigational methods - as [**spatial navigation**](https://github.com/WICG/spatial-navigation) is on the rise, using only arrow keys to navigate web content will most likely be a much more common scenario in the near future.

[2018-04-04 18:53] Malvoz commented on #2014
@coliff

Actually, `anonymize_ip` is applicable to the gtag.js code snippet.

gtag.js installation:
https://developers.google.com/analytics/devguides/collection/gtagjs/

IP anonymization w/ gtag.js:
https://developers.google.com/analytics/devguides/collection/gtagjs/ip-anonymization

Example:
[code]

[2018-04-05 06:11] coliff commented on #2014
Hi @Malvoz - yes, I'm sure many of the tracking snippet scripts we have for analytics.js (Anonymize IP addresses, Track jQuery AJAX requests, Track JavaScript errors and Track page scroll) are also available to use in some form or another for gtag.js, but the implementation is different... so with gtag it'd be:
` gtag('config', 'GA_TRACKING_ID', { 'anonymize_ip': true });`
but for analytics.js it'

[2018-04-06 21:31] #1913 closed

[2018-04-17 18:08] LuigiBaute opened #2043 "New Logo Proposal"
Hello, I would like to colaborate with your project by delivering a _free_ logo that fits with this project! Let me know if interested so we can get in touch! Thank you.

[2018-05-02 07:22] bueltge opened #2046 "Separate file for the print stylesheet"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request
- [ ] other

## Feature requests
Really often the print stylesheet is forgotten or insufficiently. I think the h5bp project have the visibility and chance to makes the topic more visible. However the project should use a separate file and also a separate link tag for the print stylesheet. I think this makes it more visible in the `ind

[2018-05-02 11:04] roblarsen commented on #2046
I think an interesting way to highlight this will be to move the CSS files into a separate project, as we've previously discussed.

[2018-05-02 12:55] bueltge commented on #1671
#2046 has the goal to separately the print stylesheet and maybe this is a small step to close this issue, currently also with a technical change, pull request #2047

[2018-05-02 13:29] coliff commented on #2046
I don't think it's a good idea to include a print-only stylesheet in the head of the project - it creates an extra file to manage, it creates an extra HTTP request which will impact performance.

It's good that we include CSS for improved printing, but it doesn't need to be a different CSS file in production. If anything it should be a seperate CSS file which gets combined at build time - just lik

[2018-05-02 17:13] #2046 closed

[2018-05-02 18:11] roblarsen commented on #1671
I'm officially starting work on this... the project JavaScript requires more discussion, so I'm going to table that for now (although I want to do it.) main.css will get moved to a new repo for 6.2

[2018-05-02 18:18] roblarsen opened #2048 "Integrate h5bp/main.css into the project"
This is going to require a change to the build process.

[The actual work will happen at the fresh new repo](https://github.com/h5bp/main.css)

[2018-05-02 22:06] bueltge commented on #2046
The discussion is helpful. The request it is a real topic and in a production site I would prefer to use only one css. However for the normalize we use also a request, a separate file. But also here the result should use one request for the stylesheet.
But this separation will help to focus on the goal to create always a print style and get a maintained print stylesheet.

@roblarsen now the issue

[2018-05-03 02:51] roblarsen commented on #2046
Thanks to this issue I was reminded that I liked the idea of separating out [main.css](https://github.com/h5bp/main.css) into its own repo, so we'll be able to discuss the development of the print section of main.css there and since we'll also use SCSS to generate it, we could automate the production of a separate print.css as well. If that project is able to build individual components, there's n

[2018-05-04 09:44] miro0307 opened #2049 "how to run html5 boilerplate?"
hi，this is my first time using html5-boilerplate,
I download in homepage，version 6.1.0

and then I run command npm install
but i can not find a scripts like 'npm run start' and can not know how to run this project
did i do something wrong?

[2018-05-04 09:48] reddysridhar53 commented on #2020
Is this still open?

[2018-05-04 10:09] roblarsen commented on #2020
@reddysridhar53 It is

[2018-05-16 00:07] #2043 closed

[2018-05-20 16:43] agrohs commented on #804
I would tweak the regex ever so slightly to capture a few additional file types (.woff, .woff2, .ttf for fonts,  and .ppt, .pptx/.xls, .xlsx/.doc, .docx, .dot, .dotx/ for documents and match .htm as well as .html) and use it as:
`woff2?|ttf|xlsx?|pptx?|do(c|t)x?|svg|xml|css|js|php|html?|pdf|png|jpe?g|gif` in the FilesMatch

[2018-05-21 07:49] coliff opened #2052 "tests reference jshint"
jshint has been removed from the project now, but there are references to it (`/* jshint mocha: true */`) on the first lines of:
[code]
Can those lines be safely removed - or should they be updated to reference eslint?

[2018-05-25 19:21] constancecchen commented on #1985
One thing to consider about `aria-label` as well is that [it's currently ignored by Google and Microsoft's auto translators](http://www.heydonworks.com/article/aria-label-is-a-xenophobe), making for worse internationalization.

(This has been a super fascinating discussion to read by the way, thanks all for the very thorough testing and documentation!)

[2018-05-26 00:56] roblarsen commented on #1985
Seconded! Community discussion, input and testing are how projects like this thrive and this issue (even though we don't have a solution) is a perfect example.

[2018-05-26 13:28] scottaohara commented on #1985
It's a really good point @constancecchen

I've been thinking about this since reading your comment yesterday, and I have a hack for this hack and i'm just going to say hack again because it's a hack.  But, this is the only thing I've come up with that negates the reordering while also taking your comments about internationalization into account:

[code]

So breaking down that less than ideal marku

[2018-05-26 21:18] MooijGedaan opened #2054 "Border problem"
Hi there,

I've got a problem with the border. If a text is to long, it just goes out of it's border. When I disable and enable the border in the code in Safari it shows as it should be. Is there a way to fix this?

How it should be
<img width="384" alt="schermafbeelding 2018-05-26 om 23 21 37" src="https://user-images.githubusercontent.com/39658340/40580276-993b4794-613b-11e8-9013-66170b95dad8.pn

[2018-05-26 21:35] roblarsen commented on #2054
Hi, I'm not sure what this has to do with HTML5 Boilerplate

[2018-05-26 21:35] #2054 closed

[2018-05-28 17:11] joe-watkins commented on #1985
@scottaohara @roblarsen @constancecchen Ha! This issue rules. I've not considered translation services and aria-labels nor reader mode w/visually hidden text. Love it!

@scottaohara I think we could make an argument for filing bugs with browsers on *NOT* using `display: none` for those classes that they think are used for hiding content from screen readers. SR w/Reader mode may be edge case - but

[2018-05-28 18:17] scottaohara commented on #1985
oh yeah @joe-watkins, i completely agree.  filing bugs is by far the way to go.

and per your new CSS setup, I added loads of content to the visually hidden span, and it announced in the appropriate order...so that's a plus and far better than the hack I posted :)

[2018-05-28 20:58] svinkle commented on #1985
@joe-watkins Can we change to `rem` units instead of `em` in order to size from the root and not the parent container? I haven't tested but seems like a safer route to me.

[2018-05-28 22:12] joe-watkins commented on #1985
@svinkle `rem` could work too. I was leaning `em` for wider browser support but I just tried IE6 and everything looks great. Updated to `rem`. Need to test some rwd / typography size changes on root to make sure Safari / VO behaves.

[code]

[2018-05-28 22:37] afercia commented on #1985
Having faced this issue in various projects, I'd tend to think the root cause is that Safari + VoiceOver tend to read content "by line", or based on what they consider lines of text. For some reason, CSS positioning comes into play when they decide what a "line of text" is.

I've personally used the same CSS fix in some cases, with good results. Giving the visually hidden element the same approxim

[2018-05-28 23:29] joe-watkins commented on #1985
@afercia In my experience/testing, the reading order isn't affected when `<button>` is used in Safari/VO.. now links that look like buttons are a different story :)

So I've created another demo with an assortment of link/buttons that rely on different heights and such. I noticed the little visual offset creep back in w/Safari's focus ring and tweaked the margin to 0 and that helped. I'm not able

[2018-05-29 01:16] joe-watkins commented on #1985
In Safari, with the current CSS there is funkiness with the focus ring. It falls out of bounds a bit.

![blip-current](https://user-images.githubusercontent.com/3695795/40633104-3eca50ee-62a2-11e8-9717-217f2424cc64.png)

With the new/fix using `height: 1rem;` & `margin: .25rem -.25rem` reading order is fixed and the funkiness moves to the bottom of an inline link.

![blip-new-25](https://user-imag

[2018-05-29 08:28] afercia commented on #1985
@joe-watkins well anything that alters the height of a line of text (meaning the line-height) will probably make it fail. For example, see https://codepen.io/afercia/full/YvzPyB/

<img width="773" alt="screen shot 2018-05-29 at 10 25 59" src="https://user-images.githubusercontent.com/1682452/40646961-f95aea58-632a-11e8-97be-309b461be87f.png">

[2018-05-30 11:04] afercia commented on #1985
This seems related: https://bugs.webkit.org/show_bug.cgi?id=173914
(although it mentions containers with aria-label or aria-labelledby)

[2018-06-02 15:42] joe-watkins commented on #1985
@afercia Thanks for putting that demo together.. yes that line height weakness is one that sure makes it fail. I think I've found an approach for that which appears to be holding up... of course I think I've said that 10 times in this thread :) ha! I love a good challenge though.

`height: auto;` to the rescue.

Initial testing of a [clone of your CodePen](https://s.codepen.io/joe-watkins/debug/Wy

[2018-06-03 15:42] joe-watkins commented on #1985
@afercia Ha nice finds and makes sense -- especially 8.3 as I was fiddling around with transforms at one point and adding backgrounds to the element and was surprised to see it span the height of the box. Thanks for surfacing those!

Yes, I've been thinking about flex and grid and wonder if we should be attacking from the parent since we can't drive up the tree with CSS really. One could almost wr

[2018-06-18 21:12] MatheusRV opened #2056 "Gulp4 error"
**I'm submitting a ...**

- [X] bug report
- [ ] feature request
- [ ] other (Please do not submit support requests here (below))

## Bug reports

[code]
Update gulp v3 to gulp v4. https://fettblog.eu/gulp-4-parallel-and-series/

[2018-06-19 18:52] snolangps commented on #2049
yeah, but how do you `run` the application to see it up and running? There's no documentation on this...

[2018-06-19 20:13] caraya commented on #2056
@MatheusRV
The default gulpfile will not work with Gulp 3 as it has changed the way you run tasks in sequence and parallel. In order to make it work you need to do the following:

1. Update Gulp (npm i -g gulp@4.0)
2. Update your project Gulp (npm i -D gulp@next)
3.  Modify the gulpfile to work with the new task syntax (A good tutorial: [How do I update to Gulp 4?](https://www.liquidlight.co.uk/bl

[2018-06-19 20:19] roblarsen commented on #2049
@snolangps There's no documentation on how to run it, because there's nothing to run. It's just a collection of HTML, CSS and JavaScript. If you click on [index.html](https://github.com/h5bp/html5-boilerplate/blob/master/dist/index.html) in the [/dist/](https://github.com/h5bp/html5-boilerplate/blob/master/dist/) folder and open it in a web browser you're running HTML5 Boilerplate.

[2018-07-27 01:30] roblarsen commented on #2056
Sorry, I've been busy with other things. @caraya  I'm not a heavy Gulp user (I basically just use it here and didn't write this build process originally,) is there much benefit to upgrading for our meager build needs? If you're interested in doing the upgrade and think there's benefit I'd welcome the PR.

[2018-07-27 03:55] caraya commented on #2056
I don't think so. Gulp 4 changes the task signatures without, in my opinion, adding any real benefit. I haven't seen much interest in upgrading to Gulp 4 in issues or PRs either

[2018-07-27 10:37] roblarsen commented on #2056
Thanks @caraya

[2018-07-27 10:37] #2056 closed

[2018-08-28 21:10] reef289 commented on #1995
When doing mobile optimization start with mobile and work your way up. Apple has developer guides on their website as well.

[2018-09-28 02:32] roblarsen commented on #1671
#2066 and [h5bp/main.css/pull/5](https://github.com/h5bp/main.css/pull/5)

I'm close on the 1.0.0 of the main.css which means I can then finish #2066 and it'll be magical.

[2018-10-04 01:54] coliff commented on #1995
As all new iPhones have this form factor it's becoming increasingly important to add some details about this to H5BP. I suggest we mention it in the mobile-viewport section of the html docs (https://github.com/h5bp/html5-boilerplate/blob/master/dist/doc/html.md#mobile-viewport). I'll make a PR for this

[2018-10-04 03:23] coliff opened #2073 "Add theme-color meta tag to index.html"
**I'm submitting a ...**

- [ ] bug report
- [x] feature request
- [ ] other (Please do not submit support requests here (below))

Chrome for Android and Samsung Internet supports the `<meta name="theme-color" content="#3c790a">` meta tag.
https://caniuse.com/#feat=meta-theme-color

We cover this briefly in our docs (https://github.com/h5bp/html5-boilerplate/blob/master/src/doc/extend.md#theme-col

[2018-10-04 14:15] roblarsen commented on #2073
I like the idea. We need to pick something benign for the default value.

[2018-10-04 14:15] roblarsen commented on #2073
or... Hot Pink?

[2018-10-04 14:16] jonathantneal commented on #2073
Hot Pink has been the tradition of H5BP. Wasn’t that the default text selection color once?

[2018-10-04 14:20] coliff commented on #2073
ha. I think many people may not think to change it though so I think a light gray might be best.

[2018-10-04 14:30] jonathantneal commented on #2073
Yes... that was also the tradition... to later remove it for exactly that reason... Mmm... memories...

Yea so probably not hot pink 😄

[2018-10-04 14:41] coliff commented on #2073
The amended web.manifest PR #2060  we have has theme_color as #fafafa - almost white. I suggest we go with that. Is that ok? whatever we choose the theme_color must match in both the web.manifest and the HTML meta tag.

[2018-10-08 15:29] roblarsen commented on #1671
I'm going to open a 7+ issue in the repo to discuss what the boilerplate JavaScript should look like in this project (different, yes, but how?)  and am going to close this issue, since [main\.css 1.0.0](https://github.com/h5bp/main.css/releases) was just released and is live on [npm](https://www.npmjs.com/package/main.css).

[2018-10-08 15:29] #1671 closed

[2018-10-08 16:18] coliff commented on #2073
This is addressed in #2074

[2018-10-09 01:36] Richienb commented on #2073
As an addition to @coliff, #fafafa is Google's recommendation of background colour in order to convey a nice contrast against pure white cards that have shadows.

Take a look at the following example from the official Material Design website.
The background colour behind the cards is in fact, #fafafa.

[![Background colour example](https://storage.googleapis.com/spec-host-backup/mio-design%2Fasset

[2018-10-09 06:04] coliff opened #2076 "Ship v7.0"
This issue is to track progress on shipping v7.0

**Release Notes**
- Drop support for IE9/IE10 (usage of these versions is tiny and Microsoft officially ended support back in 2016. (#2074)
- Move the CSS to a separate repo (#2066)
- Add theme-color meta tag to index.html (#2074)
- Add 'install with yarn' steps to README (#2063)
- Improved Webmanifest (#2060)
- Upgrade Normalize to 8.0.1 (#2104)
-

[2018-10-09 20:18] #2052 closed

[2018-10-09 20:19] roblarsen commented on #2048
closed via #2066

[2018-10-09 20:19] #2048 closed

[2018-10-10 20:03] #2020 closed

[2018-10-15 18:56] roblarsen commented on #2076
#2079

[2018-10-24 14:39] philwareham opened #2090 "Leave web.manifest `display` at default setting"
In the web.manifest, stating `standalone` is too opinionated, see https://developer.mozilla.org/en-US/docs/Web/Manifest#display

Since html5-boilerplate is can be used for both apps _and_ websites, changing the default `display` state (`browser`) to `standalone` opines that this is specifically a web app, removing UI beneficial to a website.

TLDR; omit `display` rule and leave it to default state

[2018-10-26 18:47] roblarsen commented on #2090
@coliff we re-added this property based on your testing? I believe we need a default, so should it be display:browser? That would be same as omitting it which broke something, somewhere?

[2018-10-29 07:46] coliff commented on #2090
We added `"display": "standalone"`to the manifest in PR #2060.

Not having `display:` defined in the manifest gives an error in Google Lighthouse's 'Progressive Web App' test, but really, it's not a problem at all if you're adding a manifest for improving the 'add site bookmark to homescreen' experience (manifests aren't purely intended for PWAs).

So I agree with @philwareham - we should remove i

[2018-10-29 14:19] roblarsen commented on #2090
👍

[2018-10-29 14:57] coliff commented on #2090
Opened a PR in #2096. I was wondering if we needed to update the docs, but I took a look at what we have currently:

You should fill this file out with [more information about your site or application](https://developer.mozilla.org/en-US/docs/Web/Manifest)

So I think we're good. It has a link to Mozilla's excellent docs for further info.

[2018-11-01 11:08] #2090 closed

[2018-11-08 15:08] atannerd commented on #1726
I am new to this projects and this makes total sense.  However, I think it would be great to add to the documentation.  Tools like WebStorm just pull the whole repo and the documentation does not point you to the dist directory as a starting point.

I just saw the dist and src directories and assumed I should be using gulp.  That was fine until I got writing jQuery stuff and gulp failed.  I eventu

[2018-11-08 19:32] roblarsen commented on #1726
@atannerd We can update the docs to indicate that dist is where to look. It's a convention, but it can't hurt to point it out. I will say that WebStorm is doing it wrong if they're cloning the repo with the intent of it being consumed by a developer. running `npm install` would be preferable since that's designed to be just the files needed for a consumer.

What are you doing within webstorm that

[2018-11-14 17:22] choicegroup commented on #1898
https://choicegroup.github.io/business/
Don't work slider of this website. Please solve this problem any body.

[2018-12-06 13:58] Malvoz opened #2101 "[Manifest] Consider ChromeLabs PWACompat"
I suggest H5BP to consider https://github.com/GoogleChromeLabs/pwacompat
Thoughts?

[2018-12-06 14:06] coliff commented on #2101
I personally don't think we should add or recommend that for the reasons outlined here:
https://medium.com/@firt/you-shouldnt-use-chrome-s-pwacompat-library-in-your-progressive-web-apps-6b3496faab62

[2018-12-11 22:03] scottaohara opened #2102 "Possible to remove shrink-to-fit=no ?"
**I'm submitting a ...**

- [ ] bug report
- [x] feature request
- [ ] other (Please do not submit support requests here (below))

## Feature (removal) requests
Throwing out the idea to remove the `shrink-to-fit=no` portion of the view port meta tag.

Per my findings, the need for it as a default was rectified with the release of iOS 9.3, where the viewport no longer shrunk to accommodate overflow

[2018-12-13 03:36] roblarsen commented on #2102
👍

Want to PR?

[2018-12-13 12:06] scottaohara commented on #2102
Will do.

[2018-12-16 22:06] Richienb commented on #2101
A `site.webmanifest` file is required to be present in order for this to work. The problem with H5DP is that it is essentially **optional** to include such file. Nonetheless, there aren't enough icon files specified in it anyways.

[2018-12-17 20:52] #2102 closed

[2019-01-07 15:11] nickcolley commented on #1985
Hey everyone,

I've been doing some investigation into this since we ran into the same issue on the GOV.UK Design System.

I have written up the results of an audit I've done here: https://gist.github.com/nickcolley/19b80ed24d0364cfd3afd3b1b49c4014

The funkiness with the outline ring which seems to a blocker here is only seen in OSX Safari when you are using the user-agent outline styles.

Since

[2019-01-10 09:01] afercia commented on #1985
We're facing an issue with flex items, where:
- a button has `display: inline-flex`
- the screen reader text within the button is placed differently across browsers
- specifically, Chrome places the screen reader text _before_ the content and this doesn't seem correct to me: in absence of left/right/top/bottom values, an absolutely positioned element should stay in its original position

For more

[2019-01-10 17:42] TheDancingCode commented on #2014
I find [this comment by Philip Walton](https://github.com/philipwalton/analyticsjs-boilerplate/issues/19#issuecomment-333714370) a convincing argument not to switch to `gtag.js`:

[2019-02-06 17:37] roblarsen commented on #2076
I'm good with merging #2074. I will let it sit until tonight Boston time and then merge it.

Following that I'll queue up the files for release.

[2019-02-07 18:30] #2101 closed

[2019-02-08 07:20] coliff commented on #2073
Added in #2074.

[2019-02-08 07:20] #2073 closed

[2019-02-08 07:23] Richienb commented on #2073
Finally!

[2019-02-08 11:31] roblarsen commented on #2076
It looks like we're ready to go. I'll write up something for the new version and push some buttons to release everything as soon as that's queued up.

[2019-02-08 11:47] LeoColomb commented on #2076
@roblarsen May I release a new version for htaccess from server-configs-apache to include latest changes in v7 or already too late?

[2019-02-08 11:48] roblarsen commented on #2076
@LeoColomb Not at all. that would be great!

[2019-02-12 01:56] miklb commented on #2076
Thought this question was more appropriate here than a.new issue, but I'm seeing v6 in main.css still. https://github.com/h5bp/html5-boilerplate/blob/master/dist/css/main.css#L1

Does that need updating in the main repo and rebuilt, a PR here, or are there other plans? Just wanted to make sure looking at the latest version.

Thanks for keeping this project up, it's always been a great resource 👍

[2019-02-12 02:02] roblarsen commented on #2076
Thanks for the heads up. I'll take a look at the build and test suite.

[2019-02-12 03:00] roblarsen commented on #2076
It looks like it was a glitch somewhere in the publishing process. I'm pushing the correct main.css version now.

[2019-02-12 15:04] roblarsen commented on #2076
I will tweet shortly.

[2019-02-12 16:41] roblarsen commented on #2076
Tweeted

https://twitter.com/h5bp/status/1095361068732428294

[2019-02-12 17:24] #2076 closed

[2019-02-12 17:25] roblarsen commented on #2076
🚀 🏆 🍾

[2019-02-13 19:54] jcutrell commented on #2014
I recently did a bit of a deep dive to understand some of the differences between analytics.js and gtag.js - one small thing that is worth considering is that gtag does not support the Plugin format that analytics.js supports, so moving to this may break some future implementation plans, but probably fine for the boilerplate.

[2019-03-07 17:14] coliff opened #2117 "Ship v7.1.0"
This issue is to track progress on shipping v7.1.0

**Release Notes**

- Update Modernizr to 3.7.1 (#2121)
- Update Analytics docs and snippet (#2118)
- Minor docs updates (#2115 )
- Minor devdeps updates (#2114)
- More succinct way of writing the IE conditional statement (#2113)

**Todo List**

- [x] Update `CHANGELOG.md`
- [x] Publish v7.1.0 on GitHub (@roblarsen )
- [x] Publish v7.1.0 on NPM (@

[2019-03-08 10:48] coliff commented on #1995
This is in the docs as of v7.0

https://github.com/h5bp/html5-boilerplate/blob/master/dist/doc/html.md#mobile-viewport

[2019-03-08 10:48] #1995 closed

[2019-03-08 16:57] coliff commented on #2014
Finally got round to addressing this with a PR. (#2118) -  Thanks for the feedback @jcutrell and @TheDancingCode !
Also, we're adding `ga('set','transport','beacon');` to the default analytics snippet which improves performance.

[2019-03-15 03:10] roblarsen commented on #2117
[I'll probably do this tomorrow, but if you're bored Modernizr just released 3.7.1](https://github.com/Modernizr/Modernizr/releases/tag/v3.7.1)

[2019-03-15 03:11] roblarsen commented on #2117
And then we're good? Just a changelog update, update the package.json and then release? I may have time for that tomorrow too.

[2019-03-15 08:06] coliff commented on #2117
Yep, if you could take care of that Modernizr update that’d be good. I’m away on a mini vacation without access to computer.

[2019-03-17 07:47] #2014 closed

[2019-03-18 01:00] coliff commented on #2117
very nearly there with this release.. I just have one quick last PR to make re: jQuery CDN that I'd noticed

[2019-03-19 20:38] roblarsen commented on #2117
🚢
🚀
👍

[2019-03-21 11:04] coliff commented on #2117
Can we add the changelog to the 'release notes' section here https://github.com/h5bp/html5-boilerplate/releases/tag/v7.1.0 ?

[2019-03-21 14:38] roblarsen commented on #2117
I will tweet at some point today/tomorrow

[2019-03-22 17:48] roblarsen commented on #2117
Tweettastic.

[2019-03-22 17:48] #2117 closed

[2019-03-23 21:06] enriquemorenotent opened #2123 "The link to the documentation gives a 404"
If you go to https://html5boilerplate.com/ and press DOCS in the main menu, you land in a 404 page

[2019-03-23 21:08] roblarsen commented on #2123
Thanks. I'll take a look.

[2019-03-25 16:45] roblarsen commented on #2123
closed via [bea2ab](https://github.com/h5bp/html5boilerplate.com/commit/bea2abf82fa0babd1a0a5293b3a8a0909a74ca7e)

[2019-03-25 16:45] #2123 closed

[2019-03-26 09:31] enriquemorenotent commented on #2123
Great, thanks

[2019-05-06 00:51] roblarsen opened #2127 "Add Social Media Preview Image"
reference: [Customizing your repository's social media preview](https://help.github.com/en/articles/customizing-your-repositorys-social-media-preview)

[2019-05-07 01:18] coliff commented on #2127
I think we'd be fine with specifying an Opengraph Image on the page instead (we should really have done this already) so GitHub uses that. We can set the hi-res icon as the artwork. This means no need to edit settings or create new artwork and if it's shared on Facebook the preview will look nice there too.

Opengraph Preview:
https://developers.facebook.com/tools/debug/sharing/?q=https%3A%2F%2Fht

[2019-05-14 05:49] scommercemage commented on #2014
The following extensions could be useful

[Magento 1 Gtag extension](https://www.scommerce-mage.com/magento-1-global-site-tag-js.html)

[Magento 2 Gtag extension](https://www.scommerce-mage.com/magento-2-global-site-tag-js.html)

[2019-06-03 02:19] coliff opened #2133 "Ship v7.2.0"
This issue is to track progress on shipping v7.2.0. It'll be good to get this release out since the current version of H5BP (v7.1.0)  includes jQuery 3.3.1 which has a security vulnerability (https://snyk.io/vuln/npm:jquery).

**Release Notes**

- Remove `defer` from Google Analytics snippet (#2132)
- Update to jQuery 3.4.1 (#2126)
- Docs updates (#2122, #2125  )
- Update Apache Server Configs to

[2019-06-03 11:22] roblarsen commented on #2133
I'm going to release main.css 2.0.0 and include that here as well. So let me do that, then update the various dependencies across projects and then do this release.

[2019-06-03 11:23] coliff commented on #2133
great!

[2019-06-04 15:10] roblarsen commented on #2133
@coliff Want to give this repo a once-over for the release? I think we're good.

[2019-06-04 15:20] coliff commented on #2133
sure thing... doing a quick review now.

[2019-06-04 15:53] roblarsen commented on #2133
👀

[2019-06-04 16:17] coliff commented on #2133
all good from my side, other than we could update the CHANGELOG to add PRs 2134, 2137 and 2138 to the Docs update section...

[2019-06-04 16:43] roblarsen commented on #2133
Cool. I will publish later this afternoon and then work on the site. Meet you over there 👉

[2019-06-10 17:59] roblarsen commented on #2133
Released! Documented!

[2019-06-10 17:59] #2133 closed

[2019-08-15 21:27] fendorio opened #2146 "Question: any reason why package-lock.json is still ignored"
**I'm submitting a ...**

- [ ] bug report
- [ ] feature request
- [X ] other (Please do not submit support requests here (below))

Just submitted a PR which removed package-lock.json from the .gitignore file, I see this was added to .gitignore back in 2017, when there was an issue with npm r.e. the package-lock.json file. This issue has since been solved. Hold my hands up, I didn't read contribut

[2019-08-16 01:49] roblarsen commented on #2146
You could pore over our history and see that we did in fact do as you guessed, block it because it was kind of a mess initially. It has fallen through the cracks since. I'll merge your PR.

[2019-08-16 01:55] roblarsen commented on #2146
closed via #2145 👍

[2019-08-16 07:12] fendorio commented on #2146
Nice one, yes I did go over the old issues & PR's and could see what happened, and why :) Think I commented on this in the PR, anyway nice one for this, cheers :)

[2019-08-17 03:15] #2146 closed

[2019-08-20 22:24] greenchili opened #2147 "Website download file"
Hi, this is a feature request I suppose. The zip file download from the home page is a bit of a 'zip bomb'. I think it would be better to unzip into a contained folder as this can be quite annoying.

[2019-08-21 00:54] roblarsen commented on #2147
Hi, can you further describe your issue with the zip file? I can guess what you mean, but I would only be guessing.

[2019-08-21 08:22] greenchili commented on #2147
Download the zip file from the site:
The file from your main site:

https://github.com/h5bp/html5-boilerplate/releases/download/v7.2.0/html5-boilerplate_v7.2.0.zip

It unzips the files directly to the destination directory rather than a self contained folder.

[2019-08-21 08:32] coliff commented on #2147
Extracting any ZIP by default extracts to a folder with the same name as the ZIP. If I right-click extract it (by default) gets extracted to a '**html5-boilerplate_v7.2.0**' folder on Windows 10. I just tested on MacOS 10.14.6 too and it does the same. So it works well and as expected.

If it were to be in an additional folder it's actually more hassle and annoying as its an additional folder to d

[2019-08-21 14:24] greenchili commented on #2147
I am unzipping on linux cli using the standard unzip command:
unzip --help
UnZip 6.00 of 20 April 2009, by Debian. Original by Info-ZIP.

[2019-08-22 12:24] webhat commented on #2147
I can confirm, it unzips into the current working directory.

[2019-08-22 12:31] coliff commented on #2147
ah ok. Maybe UnZip for Linux needs an update so it behaves like Windows and MacOS then :-)

Really, there isn't anything that can realistically be done here. The GitHub ZIP release just takes the files from the repo and makes it available as a ZIP as is so the only way round that would be to put everything in a folder first, but that'd be quite odd (I've never seen another GitHub repo do that) - a

[2019-08-22 12:40] roblarsen commented on #2147
To be precise the download file that Github produces is different than the release zip file. The release zip file is intentionally structured this way so that the unzipped folder on Mac or Windows is nice and tidy. I am sorry I've never tried the download file on linux. For now, the dowload file of latest or the tag generated by Github (literally browsing to the tag and clicking the "clone or down

[2019-08-26 13:44] greenchili commented on #2147
OK if you feel this a non issue then please close.

[2019-08-28 23:40] eclectic-coding commented on #2147
For what it's worth, the ZIP file downloaded from Github (using Ubuntu ARCHIVE  extracts into a new directory named `HTML5-BOILERPLATE-MASTER`. However, when the file is downloaded from the web site there is not root directory to extract into, the user has to direct to a new empty directory. I see what @greenchili is referring to.
IMHO, these archives should behave the same.

[2019-08-29 09:10] kapantzak opened #2148 "Consider adding scss alternatives for existing css files?"
I didn't find any older post asking for something similar and I wonder if it whould be a nice feature for the project to contain some **.scss** files for anyone might want to use css preprocessor, for example:

    /dist
        /css
            main.css
            normalize.css
            main.scss
            normalize.scss

I could make a PR if the team thinks this is a good idea.
Thanks

[2019-08-29 12:21] kapantzak opened #2149 "Unable to build or test project"
I am unable to run tests or build the project on cloned repo (**version 7.2.0**):

## Steps to reproduce

    npm install
    npm run test

![test](https://user-images.githubusercontent.com/12742884/63939234-6a976c80-ca6f-11e9-8378-8fc843942da5.png)

Same error when

    npm run build

![build](https://user-images.githubusercontent.com/12742884/63939238-6e2af380-ca6f-11e9-8842-eacbeb5d41ef.png)

#

[2019-08-29 13:23] roblarsen commented on #2149
Looking now. thanks for the report

[2019-08-29 13:29] roblarsen commented on #2148
Both of those files only exist in the project at build time so any variation would have to happen upstream.

main.css is managed in a separate project:

 [h5bp/main\.css: A repository for the development of the HTML5 Boilerplate CSS file, main\.css](https://github.com/h5bp/main.css) We can talk about what that might look like over there.

normalize.css is managed in a separate project by a former

[2019-08-29 13:29] #2148 closed

[2019-08-29 13:37] roblarsen commented on #2149
Verified. Tests run and pass with node v9.11.2

With 10.16.3 it fails.

![image](https://user-images.githubusercontent.com/361421/63944873-630c9f00-ca40-11e9-8677-31b8182fa045.png)

[2019-08-29 15:57] roblarsen commented on #2149
Based on my research, this looks like a job for the gulp 4 upgrade that I've been putting off because I have zero interest in doing that particular task. I'll open an issue and maybe tweet out a help wanted.

[2019-08-29 15:58] roblarsen opened #2150 "Upgrade gulp to 4.0 and upgrade gulpfile to be compatible with new version"
This will fix #2149

I've been avoiding this for a while. I vaguely knew it was a thing, but I've been kicking it down the road. I'm running out of road? The current script won't run on later versions of node, so... time to upgrade.

[2019-08-29 17:21] roblarsen commented on #2147
Some notes:

The zip from Github is different than the released zip file. I have control over one and no control over the other.

The file we include with the release is the dist folder.  I _intentionally_ zip it up so that (on Mac and Windows at least) it behaves in the way we're describing here. You perform the default unzip action and the folder output is the contents of the dist folder. We've

[2019-08-31 05:43] fbens commented on #2014
I used ga for several years, today I found that google analytics code recommend changed from ga to gtag. I am very confused why google update ga to gtag,what is the benefit ?

[2019-08-31 20:42] scommercemage commented on #2014
@fbens, it is adding all google trackings using one tracking including GA, AdWords, Remarketing, Optimizer etc. It is used for multiple trackings instead of just GA. Hope it helps

[2019-09-03 18:50] roblarsen commented on #2150
closed via #2151

[2019-09-03 18:50] roblarsen commented on #2149
closed via #2151

[2019-09-03 18:50] #2149 closed

[2019-09-04 02:47] coliff opened #2154 "Ship v7.3.0"
This issue is to track progress on shipping v7.3.0. It'll be great to get this release out with the gulp 4 migration complete.

**Release Notes**

- Upgrade to gulp 4 and update others dev dependencies (#2151)
- Remove .jscsrc config and remove gulp-jscs from package.json (#2153)
- Removed package-lock.json from .gitignore  (#2145)
- bump lowest supported version of node to 8.x (#2142)
- HTTPS lin

[2019-09-04 20:13] roblarsen commented on #2154
Oh, i just got access to GitHub actions. I'll try to wire up publishing to npm using the npm actions. That'll give me something extra interesting to write about.

[2019-09-05 21:17] #2150 closed

[2019-09-17 20:22] jms1989 commented on #2147
file-roller on linux unzips to a folder named the same as the zip file when done from the file manager.

you can just do:

[code]

[2019-09-19 01:24] roblarsen commented on #2147
That might be the best we can do, document it in that way.

[2019-09-19 01:25] roblarsen commented on #2154
UPDATE: I'm back from a couple of busy weeks and mini-vacation, so I'm ready to get this release out the door.

[2019-09-19 03:57] #2127 closed

[2019-10-08 16:38] Nirmal4G opened #2160 "Repository Corruption: git ops fails in strict fsck mode"
**I'm submitting a Repo corruption report**

Unlike GitHub, GitLab has stricter fsck requirements and so does my Git installation. When I tried to clone this repo, I got the `zeroPaddedFilemode` errors. Eventually I changed my `.gitconfig` to ignore the errors but when I pushed to GitLab, it rejected my push because of these errors. Unfortunately, I can't change GitLab's config of my repo forked f

[2019-10-14 17:41] roblarsen commented on #2154
My next three weeks were also busy! I'm back. @coliff I reviewed/merged all the PRs.

[2019-10-16 02:00] coliff commented on #2154
cool. I'll open a 'Ship 7.3.0' PR with updated `package.json` with version number update and updated `CHANGELOG.md`

[2019-10-17 09:54] Kevin-hope commented on #2147
Hello everyone this is China good evening

[2019-10-22 20:01] acluther commented on #2147
Has the documentation been updated to reflect the ZIP file behavior? I'd be glad to take it on if not.

[2019-10-22 20:08] roblarsen commented on #2147
@acluther it has not. You can definitely take it on. I'm just queuing up the project for a new release so your timing is excellent.

[2019-10-22 20:28] acluther commented on #2147
@roblarsen great, I'll take it on this evening.

[2019-10-23 19:16] roblarsen commented on #2154
Branching: [release/ship\-v7\.3\.0](https://github.com/h5bp/html5-boilerplate/tree/release/ship-v7.3.0)

[2019-10-24 02:37] coliff commented on #2154
cool. I'm just making a few small updates to the `CHANGELOG` in that branch and updating version number in `package.json`

[2019-10-24 02:41] coliff commented on #2154
Minor thing, but in the CHANGELOG you've linked to the commit for 'enabled package-lock.json' - do you think linking to the PR (https://github.com/h5bp/html5-boilerplate/pull/2145) for it may be better in case anyone wants to read the reasoning behind it?

[2019-10-24 02:47] coliff commented on #2154
Just pushed a commit to that branch with these changes:

- Minor devdeps update for glob and mocha
- Update `CHANGELOG.md` with additional changes and formatting fix (remove leading spaces and extraneous line break)
- Bump version number in `package.json`

[2019-10-25 19:21] roblarsen commented on #2154
I just noticed an edit to the wiki, _which made me notice that we still have a wiki_. I'm going to move whatever is useful in there to the project itself and turn off the wiki.

[2019-10-31 17:28] roblarsen commented on #2147
@acluther if you're still interested I'd love to include this update in the upcoming release

[2019-11-01 23:20] Diraneh commented on #2147
Bonjour,

Il faut d'abord compresse  votre donnée dans un fichier en zip et puis  <p> Téléchargez mon super <a href="nondevotredonnee.html.zip">fichier</a></p>.

[2019-11-02 16:20] acluther commented on #2147
I had every good intention of getting on it but other things ended up taking priority. I apologize but would like to be involved in the future.

[2019-11-04 14:33] Jobayer2 opened #2172 "Hi, can you further describe your issue with the zip file? I can guess what you mean, but I would only be guessing."
Hi, can you further describe your issue with the zip file? I can guess what you mean, but I would only be guessing.

_Originally posted by @roblarsen in https://github.com/h5bp/html5-boilerplate/issues/2147#issuecomment-523251100_

[2019-11-04 14:56] #2172 closed

[2019-11-06 15:43] roblarsen commented on #2147
closed via #2169 branch

[2019-11-06 15:43] #2147 closed

[2019-11-20 02:04] coliff commented on #2154
@roblarsen - the NPM release tag was v7.30 and should have been v7.3.0.
https://github.com/h5bp/html5-boilerplate/releases
Can you fix that?

[2019-11-20 02:06] coliff commented on #2154
I think we can just edit it here: https://github.com/h5bp/html5-boilerplate/releases/edit/v7.30

[2019-11-20 02:15] roblarsen commented on #2154
👍

[2019-11-20 17:56] roblarsen commented on #2154
I haven't tweeted. I'm writing up the blog post now

[2019-11-26 20:26] roblarsen commented on #2154
Tweeted. Blog posted.

[2019-11-26 20:26] #2154 closed

[2019-12-24 16:05] stordoff opened #2180 "html5-boilerplate_v7.3.0.zip is not HTML5 Boilerplate v7.3.0"
**I'm submitting a ...**

- [X] bug report
- [ ] feature request
- [ ] other (Please do not submit support requests here (below))

Basically, as title - html5-boilerplate_v7.3.0.zip from the GitHub releases page does _not_ contain HTML5 Boilerplate v7.3.0. Downloading the zip (https://github.com/h5bp/html5-boilerplate/archive/v7.3.0.zip) from the [tags](https://github.com/h5bp/html5-boilerplate/ta

[2019-12-24 16:36] roblarsen commented on #2180
The tagged version is just a snapshot of the repo at that point. I generate that download file manually and simply messed up the contents. I need to automate that to get operator error out of the way.

I updated the zip file with the proper contents. Hopefully that will be reflected properly in the downloads going forward.

[2019-12-24 16:37] roblarsen opened #2181 "Automate production of the site download file."
see #2180

[2019-12-24 16:55] stordoff commented on #2180
Fair enough - I've just re-downloaded to double-check and all looks good now :)

[2020-01-06 16:39] #2180 closed

[2020-01-25 12:20] amityweb opened #2187 "500 Error using .htaccess"
Been using boilerplate htaccess for some time, but thought I would update it. I receive a 500 error now.

[code]
Maybe older version of apache and backward compatibility is removed? I cant see any comments about it, to use an alternative, like I have to do with FollowSymLinks/SymLinksIfOwnerMatch

[2020-01-25 12:38] roblarsen commented on #2187
Hi @amityweb the server configs have their own repositories. So, in this case, [h5bp/server-configs-apache](https://github.com/h5bp/server-configs-apache) cc: @LeoColomb

[2020-01-25 12:54] amityweb commented on #2187
Ah right, ok thanks a lot. I've always just grabbed this one, but I haven't for a while hence updating it now.

[2020-01-25 12:56] roblarsen commented on #2187
We're happy to be the delivery mechanism for a lot of great work, but in many cases there are separate repos for the component parts.

[2020-01-25 12:56] #2187 closed

[2020-02-14 20:24] jonom commented on #804
You could try something like this for a `.htaccess`-only solution, adjusting the regex to suit your needs. This example would deny crawling for `site.com` and `beta.site.com` but allow crawling on `www.site.com`.

[code]

[2020-02-17 10:09] helen662 opened #2190 "Wanna see my hot pics?💋💋💋"
Hi!😻😻😻 Wanna see my hot pics?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is sexygirl662 👇👇👇

http://bit.do/fuxgE

[2020-02-17 10:49] helen559 opened #2191 "Wanna see my hot pics?💋💋💋"
Hi!😻😻😻 Wanna see my hot pics?💋💋💋 Go to site from BIO and find me here. ❤️❤️❤️ My nick is sexygirl662

https://tinyurl.com/ulpu2gz

[2020-02-17 11:39] akdnfbf opened #2193 "Wanna see my hot pics?💋💋💋"
Hi!😻😻😻 Wanna see my hot pics?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is sexygirl662 👇👇👇

https://tinyurl.com/ulpu2gz

[2020-02-17 11:55] #2193 closed

[2020-02-17 12:03] operator888 commented on #2193
Reported.

[2020-02-17 12:36] akdnfbf opened #2194 "Wanna see my hot pics?💋💋💋"
Hi!😻😻😻 Wanna see my hot pics?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is sexygirl662 👇👇👇

https://tinyurl.com/sbmadwq

[2020-02-17 13:34] #2194 closed

[2020-02-17 13:49] VISWESWARAN1998 commented on #2194
This is a spam. Please close it.

Wrote a small script to automate the reporting, Just like the spammer did.

Script here: https://gist.github.com/VISWESWARAN1998/cf74dd0890534ad3e72f326e46460cd3

Regards,
Visweswaran N

[2020-02-17 13:49] VISWESWARAN1998 commented on #2193
This is a spam. Please close it.

Wrote a small script to automate the reporting, Just like the spammer did.

Script here: https://gist.github.com/VISWESWARAN1998/cf74dd0890534ad3e72f326e46460cd3

Regards,
Visweswaran N

[2020-02-17 14:34] helen119 opened #2196 "Wanna see my hot pics?💋💋💋"
Hi!😻😻😻 Wanna see my hot pics?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is sexygirl662 👇👇👇

https://tinyurl.com/ulpu2gz

[2020-02-17 14:36] #2196 closed

[2020-02-17 14:44] helen119 opened #2197 "Wanna see my hot pics?💋💋💋"
Hi!😻😻😻 Wanna see my hot pics?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is sexygirl662 👇👇👇

https://tinyurl.com/ulpu2gz

[2020-02-17 15:00] #2197 closed

[2020-02-17 16:04] helen610 opened #2198 "Wanna see my hot pics?💋💋💋"
Hi!😻😻😻 Wanna see my hot pics?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is sexygirl662 👇👇👇

https://tinyurl.com/ulpu2gz

[2020-02-17 16:08] #2198 closed

[2020-02-17 16:40] alrra commented on #2198
@helen610 Because you keep spamming this repository, I have now blocked you.

<img width="622" alt="" src="https://user-images.githubusercontent.com/1223565/74671950-125d3f80-5161-11ea-9627-418d902c5046.png">

[2020-02-21 15:00] dminkovsky commented on #1784
Early 2020: can we assume minimum-scale has been removed as a requirement?

[2020-02-21 15:05] steffenweber commented on #1784
According to https://www.chromium.org/developers/design-documents/chromium-graphics/how-to-get-gpu-rasterization, it's no longer a requirement since Chrome on Android version >= 54.

[2020-02-21 15:12] dminkovsky commented on #1784
Oh yes, you're right, it does say it clearly right there:

For desktop, it looks like only Linux is still being worked on: https://bugs.chromium.org/p/chromium/issues/detail?id=419521#c25

Thank you!

[2020-02-27 19:51] gromovadarya90 opened #2203 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-02-27 20:12] gromovadarya90 opened #2204 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-04-11 01:11] coliff opened #2208 "Update to jQuery 3.5.0"
**I'm submitting a ...**

- [ ] bug report
- [x] feature request
- [ ] other (Please do not submit support requests here (below))

REF: http://blog.jquery.com/2020/04/10/jquery-3-5-0-released/

[2020-04-11 02:18] #2208 closed

[2020-04-11 12:29] coliff opened #2210 "Remove Browserupgrade prompt"
**I'm submitting a ...**

- [ ] bug report
- [x] feature request
- [ ] other (Please do not submit support requests here (below))

HTML5Boilerplate default HTML includes a browser upgrade prompt which only displays on IE9 and below. I suggest that this should be removed in the next version of H5BP because:
- It doesn't display on IE10 (as IE10 doesn't support IE conditional comments)
- An IE8 user

[2020-04-13 03:36] roblarsen opened #2211 "Add Open Graph Metadata to the index.html"
@coliff  writes:

[2020-04-13 03:42] roblarsen opened #2212 "AnonymizeIP for Google Analytics"
@coliff writes:

[2020-04-13 15:03] roblarsen opened #2213 "Update Modernizr"
https://github.com/Modernizr/Modernizr/releases/tag/v3.10.0

[2020-04-13 15:22] roblarsen opened #2215 "Update jQuery to 3.5.1 or... Remove jQuery? Discuss!"
Removing jQuery from the project has been suggested to me before, and was suggested as a discussion point for the upcoming 8.0 release by @coliff

I'm open to discussing it. This ticket is the place for that discussion 🤔 😠 😄 😢

I'm not going to lay out my thoughts just yet, but I'll share what I think are the two different ways to look at it.

On the one hand- Builtwith's [jQuery Usage Statistics]

[2020-04-13 15:22] roblarsen commented on #2215
@coliff  said

[2020-04-13 15:24] roblarsen commented on #2215
I'm also open to an option where you can optionally build the project with/without jQuery from the command line. I want to have a version that we're happy with that ships in the 8.0 zip, but I am also happy to push some optional stuff into the build-- using static properties in a config file to make it super easy. We could add things like the value for the lang attribute there as well.

[2020-04-13 15:37] roblarsen opened #2216 "Celebrate 10 Years!"
[OMG we're going to be 10 years old](https://github.com/h5bp/html5-boilerplate/wiki/history#but-first)

We're working on a new release to coincide with this project turning ten years old, but beyond that I'd like to actually celebrate this thing a little bit and as part of that I'd love to get some thoughts/ anecdotes/praise/love letters to share when I write up the release. I'd obviously love to

[2020-04-14 06:29] XhmikosR commented on #2212
I personally do this in all my projects so I'm 💯

[2020-04-14 20:30] #2213 closed

[2020-04-15 06:24] drublic commented on #2216
Fantastic to see the template still being maintained after such a long time! Thanks for taking care @roblarsen and everyone else 💪

[2020-04-15 15:04] #2210 closed

[2020-04-16 22:35] #2212 closed

[2020-04-17 16:00] amcintyre-cs commented on #2216
I was there when the pink highlight first appeared. AMA.

[2020-04-17 16:45] perardi commented on #2215
UI design here, frequent user of this project for prototyping website interactions and such.

My initial reaction was: _oh no don't take my jQuery away_. I am stuck in my ways, and I still use it, as it just "makes sense" for simple DOM traversal and manipulation stuff.

But after 2 minutes of consideration: _bundling a third-party library is not a core competency of this project_. It's trivial to

[2020-04-18 01:22] roblarsen commented on #2211
@coliff 👇 ?

[code]

Are empty values harmful?

[2020-04-18 21:40] vltansky commented on #2215
I think that the trend now is to remove jQuery support, and it would be right to support this trend and jQuery shouldn't be included by default in web dev nowadays. Anyway if developer prefer to use jQuery it's very easy to add it, but when it won't be included by default I think it's more likely to make a developer concider is jQuery really needed in his project, when he basically need only to to

[2020-04-20 01:02] roblarsen opened #2222 "Integrate main.css 2.1"
I think we'll need to release a new version of main.css along with this release. We'll need to integrate that with this.

[2020-04-21 06:11] eshimischi commented on #2215
Remove it and remove it now!

[2020-04-22 02:33] coliff commented on #2211
Interesting question! Really, we should do a proper deep dive and research into this and make sure we've got this 100% right before adding. In my quick testing, empty values fallback to standard `meta description` and `title` tags in some systems, but not in others. There are so many systems and they work differently... so let's not proceed with this just yet.
Interesting links:
- https://24ways.o

[2020-04-23 14:26] roblarsen commented on #2181
[Create a Release · Actions · GitHub Marketplace](https://github.com/marketplace/actions/create-a-release)

[actions/upload\-release\-asset: An Action to upload a release asset via the GitHub Release API](https://github.com/actions/upload-release-asset)

[2020-04-23 16:12] jloosli commented on #2215
To echo https://github.com/h5bp/html5-boilerplate/issues/2215#issuecomment-615350077 Removing jQuery gives people some flexibility in choosing how and what they may or may not add to enhance their site. At one point, it was a given that jQuery was a necessary part of any site and now it's just one of many tools that developers can use to accomplish a variety of front-end tasks.

[2020-04-24 15:54] roblarsen commented on #2215
Going once.... Going twice...

[2020-04-24 16:14] coliff commented on #2215
Just wanted to chime in with my thoughts quickly. I'm a big fan of jQuery and use it in many projects but there are quite a few good reasons why we shouldn't include it by default in the template:
- Sometimes users may want to use the smaller slim build
- Self-hosting jQuery rather than using a third-party CDN has many advantages, including longer browser cache life (3rd party assets typically hav

[2020-04-26 00:58] roblarsen commented on #2211
Context for this as we try to get the release out the door- we ship stuff without required values (title, html lang attribute) all the time, so I'm not against shipping this if there's some negative to someone shipping code without required values.

[2020-04-26 01:04] roblarsen commented on #2211
(Tweeted)

[2020-04-26 01:53] captn3m0 commented on #2211
How about shipping them commented?

[code]

I think `og:image` might be one where a default (uncommented) value might make sense? A single og-image across a website is a common/okay enough - kinda like favicons?

[2020-04-30 09:09] nhalink commented on #2215
On the one hand I'm in favor of removing jQuery, for a long time it was the go-to javascript library and it was used in almost every project, however things have changed with more powerful HTML & CSS and a broad variety of other javascript solutions.
But ... I do use javascript libraries within my projects, often from CDN's, so leaving in an example on how to implement one in your code the "best",

[2020-05-01 09:49] thereaad opened #2226 "> Removing jQuery from the project has been suggested to me before, and was suggested as a discussion point for the upcoming 8.0 release by @coliff"
_Originally posted by @thereaad in https://github.com/h5bp/html5-boilerplate/issues/2215#issuecomment-622323621_

[2020-05-01 10:00] coliff commented on #2226
hey there @thereaad  - did you mean to open this as a new issue? Can we close this to keep the original issue open for discussion?

[2020-05-01 10:20] vltansky opened #2227 "Include bundler"
**I'm submitting a ...**

- [ ] bug report
- [x] feature request
- [ ] other (Please do not submit support requests here (below)

Not sure if necessary, so it's more like a question/discussion, but in my point of view if I would want to make some static HTML page using html5-boilerplate I would definitely use bundler for my JS and CSS (probably would go for SCSS).
So I would use webpack or parcel

[2020-05-02 20:32] roblarsen commented on #2227
Many years ago, before there were JavaScript-based build tools of any stripe if you can imagine a time like that, we shipped with build tooling. We stripped that out to its own project in order to streamline the core offering. With the rise of Grunt/Gulp/WebPack that project was mothballed a few years ago.

I'd be open to discussing something like this. I don't know what shape it would take but I'

[2020-05-02 20:42] #2226 closed

[2020-05-02 21:08] vltansky commented on #2227
What if html5-boilerplate would contain `package.json` with dev dependencies and scripts.
If developer needs bundler he can just `npm install` and then will be able to use `npm run build` / `npm start`.
Config file can be a part of html5-boilerplate or generated in post/pre npm install hook.
Although `parcel` claims to be zero config bundler, so it could be a good option..

[2020-05-02 21:44] vltansky commented on #2227
Take a look on [example](https://github.com/vltansky/html5-boilerplate) with parcel.

[2020-05-03 00:46] roblarsen commented on #2227
This is interesting. I think the idea of a stub package.json is potentially a good one. There's a lot there that we could stub out to illustrate and document.  @coliff what do you think? None of this is very obtrusive, but I think it opens up some possibilities. I've got a little bit to get done with GitHub Actions before this release can go live so there's time to work on this and expand on it a

[2020-05-03 12:00] vltansky opened #2230 "Quick start with npm init / npx"
**I'm submitting a ...**

- [ ] bug report
- [x] feature request
- [ ] other (Please do not submit support requests here (below))

Inspired by [craete-react-app](https://github.com/facebook/create-react-app) I made small POC for html5-boilerplate. [Here is the video](https://skr.sh/v/030520/0vh6sRfA.mp4), and [repo](https://github.com/vltansky/create-html5-boilerplate).

![image](https://user-imag

[2020-05-03 20:54] roblarsen commented on #2227
Okay, I need to finish [shipping main.css v2.1.0](https://github.com/h5bp/main.css/issues/57) integrate that here and then I'm going to take a good look at this. The more I think about this the more I like it by itself (it's helpful, it should be unobtrusive and only adds one file to dist) and it opens up loads of possibilities (an entry in the package.json to add jQuery back in, for example.)

I

[2020-05-04 19:24] #2215 closed

[2020-05-05 03:22] #2222 closed

[2020-05-05 19:37] #2211 closed

[2020-05-08 02:18] nioposiquit commented on #2227
I am excited with this although I am newbie for using bundlers, I see the benefits it gives. I'm thinking of creating my own front-end template but not anymore after discovering this project.

[2020-05-08 12:40] vltansky commented on #2230
@roblarsen can you take a look on this?
I would like to prepare another version of it (different approach) and make a pull request if you will find this interesting.

[2020-05-08 13:42] roblarsen commented on #2227
close by #2229

[2020-05-08 13:42] #2227 closed

[2020-05-09 01:50] roblarsen commented on #2230
👍

[2020-05-11 17:59] #2181 closed

[2020-05-11 18:09] #2160 closed

[2020-05-11 18:09] roblarsen commented on #2160
thanks for the report

[2020-05-11 18:29] roblarsen commented on #2230
I've never authored for this infrastructure- can you outline what you would do differently? In this version is the repo name meaningful? Meaning, we have to have that pattern (create_-project-name_)

This looks like a fine starting place to me as it's just web-scale plumbing. We'd have to pull the repo into this org, of course and scaffold out some improvements to make it more of a proper project,

[2020-05-11 20:29] maciekpaprocki opened #2242 "Including google analytics without GDPR info"
**I'm submitting a ...**

- [ ] bug report
- [ ] feature request
- [x] other (Please do not submit support requests here (below))

I noticed that html5 boilerplate is still including google analytics by default. Personally I wouldn't really try to promote it here as it's not really considered a good set of practice ( although often required ). However, in GDPR times using it without information ca

[2020-05-11 20:37] roblarsen commented on #2242
We've discussed it previously and my mind hasn't really changed about including GA. As for your suggestions to improve this, we're not going to ship commented out code and/or inline documentation. If you want to propose some further documentation to explain the issues around GDPR then I'd be happy to see that.

[2020-05-11 20:46] maciekpaprocki commented on #2242
Personally, I didn't check documentation in years ( not that much in HTML is changing ), however, I often use repo.

There are other inline comments like `` including even one about analytics. Wouldn't be smart to also add that including it without user confirmation is a big no-no?

[2020-05-11 21:00] roblarsen commented on #2242
We keep the documentation up to date since the project touches on many subjects. The documentation is the place for discussion of GDPR. There is no way we can explain GDPR in a ten word sentence.

There are three comments in the HTML. One is legacy (the favicon.ico comment, which is probably a candidate for removal) and then a comment about where to put your site and then the single instruction "G

[2020-05-11 21:28] maciekpaprocki commented on #2242
Yeah, I meant more to include a link to somewhere. Definitely not a thing for a one-liner.

OK. That explanation makes sense. I've read through the old stuff about analytics and although I don't agree I understand why you keep that.

[2020-05-11 21:32] roblarsen opened #2243 "Do we still need the favicon.ico comment?"
Discuss!

[code]

[2020-05-12 05:33] mathiasbynens commented on #2243
Yes. `<link rel=icon href=/path/to/some/icon.ico>` is still way too common on the web. H5BP can continue to teach people it's unnecessary!

[2020-05-12 14:44] roblarsen commented on #2243
Thanks @mathiasbynens !

[2020-05-12 14:45] roblarsen commented on #2230
@vltansky can you follow up on this when you have time? I'm doing one other task for this release, but at this point it's just documentation and this feature left for the v8 release.

[2020-05-12 16:09] vltansky commented on #2230
* npm package must have the prefix `create-` e.g `create-html5-boilerplate`, then npm recognize it as an ["init" script](https://docs.npmjs.com/cli/init) (`npm init html5-boilerplate`)
* Repo: Maybe better to manage it as a monorepo? Anyway, I've transferred the original repo to h5bp.
* Npm package: I've added you as a maintainer, as I understood [this is the way to transfer ownership](https://doc

[2020-05-12 16:31] vltansky commented on #2230
Here is my suggestion on how this should work:

`npm init html5-boilerplate [folder] [--version | alias: -v]=<number>`
`folder` if no value provided will extract to the current folder (where console opened), otherwise, it will extract to the provided folder (create it if not exists).
`version` if no value provided will take the latest version. (not implemented in POC)
not sure what to do with 'v'

[2020-05-12 17:09] roblarsen commented on #2230
How would you see this working as a momorepo?

I didn't see any notice about the original repo.

Thanks, I'll move this to the h5bp org on npm. Although I kind of want to talk to GitHub support about their plans going forward with users and orgs with the merger. I don't want to do a ton of admin stuff here if I can help it.

[2020-05-12 17:30] roblarsen commented on #2230
Short term- this version is fine. I think even the version number could be optional if it pushes getting this ready for release out. I think there's a lot of room to grow with this feature, so I'd like to get it up and running and then add to it as we go. This was your proposal so as much as you'd like to work on it/guide it, I'm happy to work with you to get this out the door.

@coliff Have you t

[2020-05-12 18:04] vltansky commented on #2230
![Screenshot_20200512-210235_Chrome](https://user-images.githubusercontent.com/5851280/81729091-1664d900-9494-11ea-9909-b7f064b3546e.jpg)
I'm getting this error when trying to transfer ownership, I've added you as collaborator, can you do this? If no, guide me please what should I do

[2020-05-12 18:10] vltansky commented on #2230
First if all I would be happy to working on this. So let me know whats needed to be ready with this feature for its alpha release. Version feature isnt difficult, I can prepare changes till tomorrow.

I have a lot of ideas what this feature can do additionally (ill organize my thoughts and will write everything in this issue soon)

I'd like to hear your thoughts about zip vs dependency.

[2020-05-13 02:00] roblarsen commented on #2230
@vltansky I think I would have to be set up as an admin and then I can (maybe) transfer it. Failing that I can fork it under h5bp and then when we're ready to go I can break the fork. I can reach out to GitHub support too, if it gets weird.

[2020-05-13 02:02] roblarsen commented on #2230
I would prefer the dependency route.

[2020-05-13 02:17] #2243 closed

[2020-05-13 17:21] vltansky commented on #2230
I've transferred the repo to your personal account. Guess this way you will be able to move it to org

[2020-05-13 17:53] vltansky commented on #2230
I pushed to repo new version (didn't publish to npm).
So there are some changes I'd like to share about:

First of all in the context of dependency vs zip  I did some research and came up with another solution - use [pacote](https://github.com/npm/pacote#readme). NPM uses it itself in its [source code](https://github.com/npm/cli/blob/36682d4482cddee0acc55e8d75b3bee6e78fff37/lib/install/action/extr

[2020-05-15 17:11] roblarsen commented on #2230
Closed. Work will proceed in the new h5bp/create-html5-boilerplate repo.

[2020-05-15 17:11] #2230 closed

[2020-05-16 00:41] coliff opened #2246 "Update browserlist config in package.json"

[2020-05-17 20:14] #2246 closed

[2020-05-17 21:13] wall03 commented on #2216
Yup! So great :)

[2020-05-18 07:19] niksy commented on #2216
`hotpink` is still my default debug color 😄

[2020-05-18 12:48] roblarsen opened #2248 "Release 8.0 (home stretch)"
- [x]  Readme/changelog for create-html5-boilerplate (Anything else?)
- [x] Verify that create-html5-boilerplate publishes properly to npm with an RC
- [x]  Publish 0.1.0 of create-html5-boilerplate (github and npm)
- [x] Add npx documentation to the readme (✔️ #2251)
- [x] Docs update (#2251 although I'm eyeing the Extend doc)
- [x] Changelog (WIP #2256)
- [x] Verify that the new package generati

[2020-05-18 19:25] SergioMazariego commented on #2248
.

[2020-05-20 15:41] SachithMayantha commented on #2216
That's great

[2020-05-22 17:54] AjibayoTemitopeJohn01 opened #2250 "Title not aligned correctly"
# Title issue

[2020-05-22 18:16] #2250 closed

[2020-05-25 08:10] KwameDaniel commented on #2216
much more grace for template maintenance. Thanks for this

[2020-05-30 05:33] coliff opened #2252 "Docs: Track page scroll in Google Analytics requires jQuery"
RE: https://github.com/h5bp/html5-boilerplate/blob/master/src/doc/extend.md#track-page-scroll

This script requires jQuery. We should either update docs to mention that or remove this from the docs (now that jQuery isn't included)

[2020-05-30 11:54] roblarsen commented on #2252
Good eye

[2020-05-30 22:45] roblarsen commented on #2252
I'll just add a note about needing jQuery.

[2020-05-30 23:22] #2252 closed

[2020-05-31 21:34] isaac-friedman commented on #2242
I'm looking for ways to be useful to the community. Can I take this issue and put a paragraph or two about Google Analytics and GDPR in the documentation?

[2020-06-01 00:08] roblarsen commented on #2242
@isaac-friedman  Yes 👍

[2020-06-03 02:13] roblarsen commented on #2248
Publish works. I'm going to create a ticket to test and fine-tune the release.

[2020-06-03 02:32] roblarsen opened #2258 "Actions/Release Test and fine-tune the release"
I'm tired, so I'm just capturing a to-do list to vet the release process tomorrow. It works from end to end.

- I created an annotated tag on the command line (See below, I forgot the
- I pushed the tag.
- The action caught the new tag, zipped up the dist folder and attached it to a newly created GitHub release.
- The action also published the package to npm.

All of that worked.  I think I will n

[2020-06-03 07:31] Jeroen-Matthijssens commented on #2258
Instead of trying to figure out how to trick zip into dropping the top level directory you could use the `working-directory` directive on the step and zip everything.

[code]

Just a thought.

[2020-06-03 10:53] roblarsen commented on #2258
@Jeroen-Matthijssens that is much more appealing

[2020-06-03 17:32] SamAriafar opened #2261 "Apache Custom Error doesn't work (.htaccess)"
I'm using Apache2 on my server and I've followed documentations online and tried all possibilities, but for some reason, ErrorDocument setting doesn't work at all. Just wondering if you have any idea what is going on...

[2020-06-04 03:21] roblarsen commented on #2261
Hi, while we ship the .htaccess file in this project, it's actually managed in a separate repo- [h5bp/server\-configs\-apache: Apache HTTP server boilerplate configs](https://github.com/h5bp/server-configs-apache) This also seems like it;s more of a stackoverflow thing to me as it may be down to issues with your specific system and not a problem with the project itself.

[2020-06-04 03:21] #2261 closed

[2020-06-04 03:26] roblarsen commented on #2242
closed with #2262

[2020-06-04 03:26] #2242 closed

[2020-06-04 08:28] Jeroen-Matthijssens commented on #2258
@roblarsen np, I've been following the project for a long time, but only recently I have tried to actually participate and be helpful. Glad I could contribute in some way :)

[2020-06-04 13:24] roblarsen commented on #2258
closed via #2260

[2020-06-04 13:24] #2258 closed

[2020-06-04 13:30] roblarsen commented on #2248
We're ready to go. I'm going to let this sit for a few hours if anyone is interested in looking at the project again. The last commit should have everything synced up

[2020-06-04 14:35] coliff commented on #2248
The `package.json` in th `src/` dir has the keywords "h5bp",  "template", "front-end" - I wonder if we should remove those.... maybe remove keywords altogether as its not a required param.

[2020-06-04 14:38] coliff commented on #2248
also, I like this https://github.com/cameronhunter/prettier-package-json - it puts the param keys in a logical order. I think this is a bit better.

[code]

[2020-06-04 15:45] coliff commented on #2248
great. I'll make a quick PR now

[2020-06-04 22:32] insane-site commented on #2216
I have been using this for quite some time and i love it thanks to all the past and present core developers.

[2020-06-05 15:50] roblarsen commented on #2248
https://htmlcssjavascript.com/web/html5-boilerplate-8-0-0-released/
https://twitter.com/h5bp/status/1268919161389973505

[2020-06-05 15:50] #2248 closed

[2020-06-05 15:50] roblarsen commented on #2248
🍾

[2020-06-05 15:50] roblarsen commented on #2216
Thanks everyone!

[2020-06-05 15:50] #2216 closed

[2020-06-05 15:51] coliff commented on #2248
🍻

[2020-06-05 23:30] ikembah2020 opened #2267 "<!--[if lt IE 9]> <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script> <![endif]-->"
**I'm submitting a ...**

- [ ] bug report
- [ ] feature request
- [ ] other (Please do not submit support requests here (below))

## Notes:

* Please **do not** use the issue tracker for personal support requests (use
  [Stack Overflow](https://stackoverflow.com/questions/tagged/html5boilerplate)).

* Please **do not** derail or troll issues. Keep the discussion on topic and
  respect the opinion

[2020-06-05 23:32] #2267 closed

[2020-06-12 03:58] mythnc opened #2269 "About how to use npm command to install jQuery in v8.0.0 in doc/html.md"
**I'm submitting a ...**

- [ ] bug report
- [ ] feature request
- [x] other (Please do not submit support requests here (below))

I tried to install jQuery with npm by using the command written in this document:

https://github.com/h5bp/html5-boilerplate/blob/v8.0.0/dist/doc/html.md#jquery

[code]

The result is that I installed jQuery 1.7.4 version...

According to the npm WARM, maybe the comman

[2020-06-12 11:11] #2269 closed

[2020-06-17 08:57] fropky commented on #1012
This method is not working for me for Apache 2.4/wordpress installation. Html is not compressing. Other file like js and css is compressed. Any suggestions?

[2020-06-19 00:27] BENSPRY7 opened #2272 "Dndh"

[2020-06-19 00:33] #2272 closed

[2020-06-26 15:59] vltansky opened #2274 "Use SCSS"
I propose to discuss including SCSS as now we have a parcel that can handle compiling.
For those who still prefer to use css - they just can ignore scss folder.
`/dist/scss` (sources) will generate `/dist/css `(not minifed).

[2020-06-28 14:06] #2274 closed

[2020-07-17 06:41] shashankdubey578 opened #2296 "Ok"

[2020-07-17 06:43] #2296 closed

[2020-07-23 02:39] LegendLife101 opened #2299 "how do I get "file://$MODULE_DIR$"?"
guys when I was going through the code I saw "file://$MODULE_DIR$" I clicked on it and it said "there was no such file" how do i get "file://$MODULE_DIR$"?

[2020-07-23 10:26] roblarsen commented on #2299
That's not our code. Searching GitHib, that has something to do with WebStorm, apparently. What that editor does has nothing to do with this project.

[2020-07-23 10:26] #2299 closed

[2020-07-26 14:02] ghost opened #2301 "?"
?

[2020-07-26 14:23] #2301 closed

[2020-08-05 12:22] WhiteITHack commented on #1898
Эту ссылку  использовать прям в комментарии? И она будет работать?

[2020-08-05 12:33] coliff commented on #1898
Yes, use it in a comment as above and it'll work for IE8... or even shorten the snippet to this:

[code]

[2020-08-05 12:38] WhiteITHack commented on #1898
Спс

[2020-08-07 20:54] z10r commented on #1898
It works, but I am hosted with Github Pages/Jekyll and I can not edit this. How can I fix this?

[2020-08-11 15:58] lambate opened #2314 "Unable to add H5BP in frontend repo"
Unable to add H5BP in frontend repo .
no specific documentation available as such which helps in installation of H5BP.
The repo uses docker for deployment.

[2020-08-11 16:19] roblarsen commented on #2314
What are you trying to do?

[2020-08-11 16:27] lambate commented on #2314
I have a github repository which runs a dockerfile that uses 'alpine' image.
I have nginx and npm configured.
now need to configure h5bp in same. However there aren't any specific or clear guideline that would help me configure h5bp.

Thanks for quick revert.

[2020-08-11 17:25] roblarsen commented on #2314
But what do you want to do with h5bp? How will you use the project? There are commands to run to do different things, I just don't get what the end result you desire is.

[2020-08-11 17:39] lambate commented on #2314
Need to use it with nginx server.
Basically for much robust frontend websites

[2020-08-13 16:45] roblarsen commented on #2314
I'll answer the best way I can. There's nothing to configure with this project. We produce a static set of files that represent the baseline for producing a web site or application.

If you want to serve the H5BP with nginx (or any sever) then you could run

`npx create-html5-boilerplate`

in the web root folder and then you're done.  The contents of the [dist](https://github.com/h5bp/html5-boiler

[2020-08-14 17:01] lambate commented on #2314
Thank you. It worked.

[2020-08-17 05:32] #2314 closed

[2020-08-18 15:18] coliff opened #2317 "'Browserslist: caniuse-lite is outdated. Please run next command `npm update`' - warning"
**I'm submitting a ...**

- [x] bug report
- [ ] feature request
- [ ] other (Please do not submit support requests here (below))

The `npm run test` command shows the error:
[code]
This isn't an issue with html5-boilerplate itself exactly, but I _think_ we maybe able to fix by modifying the [caniuse-lite version](https://www.npmjs.com/package/caniuse-lite) in the package-lock.json, but I'm not su

[2020-08-20 08:52] klutchdev opened #2323 "File name optimization, add "defer", console greeting to confirm connectivity"
**I'm submitting a ...**

- [ ] bug report
- [x] feature request
- [ ] other (Please do not submit support requests here (below))

* * *

### **Hey Everyone!!!**
I **LOVE** this tool, it's amazing for devs such as myself that write mostly in **Vanilla Js**, especially when frameworks are overkill for the task at hand.
My feature request(s) are simple- I'd be happy to help implement them if any of

[2020-08-20 08:53] klutch-kid commented on #2323
I can be reached via **klutchdevelopment@gmail.com** in addition to github.
Thanks!!!

[2020-08-25 19:09] klutchdev commented on #2323
Should I close this?

[2020-08-25 19:21] roblarsen commented on #2323
I'll follow up when I have time. So just let it sit for now. I'm not sold on any of these charges, but I also want to properly address the suggestions.

[2020-08-25 22:22] klutchdev commented on #2323
Oh ok! No problem , I just don't want to cause anyone a hard time. No rush on this end at all, I just didn't want to have the issues tab glaring with something I opened and not be proactive about it. Cheers! 🔥

[2020-08-25 22:24] roblarsen commented on #2323
No worries at all. Sometimes this stuff moves quickly, other times not so much.

[2020-08-25 22:28] klutchdev commented on #2323
I don't plan on doing anything for a very long time except advance my skills and continue to tutor a couple students!!! I had no idea you have a couple books out, I'll be scooping those up ASAP. Also, It's great to see a fellow dev from Mass... I'm by Springfield, but I have played a lot of shows out that way. Anything you need, just gimme a shout no rush for any reason, nothing is broken haha

[2020-08-28 22:11] roblarsen commented on #2323
@vltansky it might be cool to add the file names as an option to the create script.

Spoiler: I'm leaning towards app.js, but am hesitant about changing the name of main.css, just because of the project that hosts it. I guess that's a discussion point. Does it matter if the upstream project has a different name? I think styles.css is a better name, for sure. Maybe I'll tweet about it. There'd be n

[2020-08-28 22:45] klutchdev commented on #2323
Sounds good. This is my first feature request, I appreciate it

[2020-08-29 05:05] coliff commented on #2323
I vote in favour of using the **style.css** file name. A user's final compiled CSS will include our 'main.css', but it would also include  their own custom styles and maybe styles from other plugins etc - so the final CSS in their project isn't just 'main.css'.

[2020-08-29 12:23] klutchdev commented on #2323
aye 👍🏻

[2020-09-04 05:31] moselon opened #2329 "可以使用html来开app移动端吗"
**I'm submitting a ...**

- [ ] bug report
- [ ] feature request
- [ ] other (Please do not submit support requests here (below))

## Notes:

* Please **do not** use the issue tracker for personal support requests (use
  [Stack Overflow](https://stackoverflow.com/questions/tagged/html5boilerplate)).

* Please **do not** derail or troll issues. Keep the discussion on topic and
  respect the opinion

[2020-09-04 15:45] roblarsen commented on #2329
@moselon  我不确定你是什么意思。您可以使用HTML5 BoilerPlate构建移动应用程序

[2020-09-16 22:56] #2329 closed

[2020-09-18 08:16] mohamedmehdigara commented on #2323
Hi @klutchdev. I have forked this repository and added changes like you requested. Now what should I do?

[2020-09-18 11:58] klutchdev commented on #2323
oh!! uhhh, I think it's up to @roblarsen ? He was going to think about some changes @coliff, @vltansky, and myself talked about so I'd say just hang tight

[2020-09-23 01:16] BOUKH opened #2338 "Html"

[2020-09-23 01:18] #2338 closed

[2020-09-23 15:37] roblarsen opened #2339 "Rename main.css -> style.css in build process + update documentation"
Re #2323

[2020-09-23 15:40] roblarsen opened #2340 "Rename main.js -> app.js + update documentation"
re #2339

[2020-09-27 09:12] sthiepaan commented on #2339
Hello @roblarsen 👋,
I made a _Pull Request_ to resolve this issue. I hope it fits to the requirements/needs.
Feel free to write any comments/suggestions there!

PS: Sorry for not asking before taking care of it 🙈

[2020-09-28 01:37] roblarsen commented on #2339
Thanks! Looking now!

[2020-09-28 12:35] roblarsen commented on #2339
closed via #2342

[2020-09-28 12:36] #2339 closed

[2020-09-28 15:04] coliff opened #2345 "Do we still need plugins.js ?"
**I'm submitting a ...**

- [ ] bug report
- [ ] feature request
- [x] other (Please do not submit support requests here (below))

There is currently a ['plugins.js' file](https://github.com/h5bp/html5-boilerplate/blob/master/src/js/plugins.js) which [is intended to be used for plugins such as jQuery plugins](https://github.com/h5bp/html5-boilerplate/blob/master/src/doc/js.md#pluginsjs).

In 'plug

[2020-09-28 15:09] roblarsen commented on #2345
Probably not!

[2020-09-28 18:48] roblarsen opened #2347 "Move on from Gulp?"
I have only ever used Gulp in this project. It's also not the shiniest, most modern way to do the tasks we're doing. With the idea that we like to expose best practices, we should do something more modern (and, as a bonus, something I'm more interested in working with, myself. )

**I'm submitting a ...**

- [ ] bug report
- [ ] feature request
- [x] other (Please do not submit support requests her

[2020-09-29 07:44] vltansky commented on #2347
I guess Gulp is still the most modern way to maintain this kind of builds (am I wrong?).
Webpack & Parcel not for this kind of builds.
We can develop custom NodeJS build or refactor existing Gulp with async\await and etc.

[2020-09-29 08:15] sthiepaan commented on #2347
Depends on the roadmap/plans for this project, its complexity and what do we want to solve we should pick the right tools.
As @vltansky mentioned, we could create own toolkit but at some point I think it is like _"reinventing the wheel"_.

For now, I think that _Gulp.js_ is more than enough. But what we could do is e.g. split the `gulpfile.babel.js` to smaller chunks of code so it is easier to wor

[2020-09-30 02:20] #2340 closed

[2020-09-30 13:12] #2345 closed

[2020-09-30 13:14] roblarsen commented on #2323
closed via #2341 and #2342 Thanks for the suggestion @klutchdev !

[2020-09-30 13:14] #2323 closed

[2020-09-30 17:02] klutchdev commented on #2323
welcome

[2020-10-01 21:13] roblarsen opened #2370 "To Limit Hacktoberfest Spam We Have Temporarily Limited Interactions to Prior Contributors"
I'm not happy about this, but I'm also not happy about the amount of spam we've received on just the first day, so until someone (GitHub? Digital Ocean)  does something about all the Hactoberfest spam, this is the best I can do.  Beyond the fact that it's annoying to me as the maintainer, we have nearly 3000 watchers. It's not fair to them to get spammed by nonsense.

Tweet at us at @h5bp, email m

[2020-10-03 01:16] roblarsen commented on #2370
Theoretically, Digital Ocean (may they go out of business) has turned off the spam taps as of right about now... We'll see! I might have to turn off contributions again in the morning if any other spammers show up.

[2020-10-03 22:38] coliff commented on #2370
FYI: https://hacktoberfest.digitalocean.com/hacktoberfest-update

[2020-10-03 22:47] roblarsen commented on #2370
@coliff I turned it off last night (my time)

[2020-10-05 14:36] #2370 closed

[2020-10-12 14:10] TensorTom opened #2379 "Comment-Out Google Analytics Boilerplate"
**I'm submitting a ...**

- [x] bug report
- [ ] feature request
- [ ] other (Please do not submit support requests here (below))

In the greater interest of privacy, many may consider it a bug of a boilerplate lib/repo to contain embedded active scripting from a remote Google property by default. Recommend simply commenting out the script tags with a message such as:

[code]

[2020-10-13 07:13] hDmtP commented on #2379
"**change UA-XXXXX-Y to be your site's ID.**" - how to be sure that one chooses a unique ID.
And please can you explain how this scripting will help users privacy?

[2020-10-13 14:15] #2379 closed

[2020-10-20 19:15] vltansky opened #2391 "Creating a repository from a template"
**I'm submitting a ...**

- [ ] bug report
- [ ] feature request
- [x] other (Please do not submit support requests here (below))

I mentioned today that there is a "template repository" (although I understand that it been a long time on GitHub).
https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/creating-a-repository-from-a-template

So I thought ma

[2020-10-20 19:24] roblarsen commented on #2391
👍 We use template repositories at work all the time. I thought about doing it here, but I never followed up on it. I'll set it up. We'll need to create an action that can wrote to it when the main project is updated.

[2020-10-20 19:31] vltansky commented on #2391
I sent you a request to transfer repo to you.
I'll try to create an action for it, github actions interests me :)

[2020-11-08 13:27] JJanggoo03 opened #2402 "d"
d

[2020-11-08 13:36] #2402 closed

[2020-11-10 16:50] Hakeemmidan opened #2405 "Routing Documentation"
**I'm submitting a ...**

- [ ] bug report
- [x] feature request
- [ ] other (Please do not submit support requests here (below))

Hi,

Thank you for creating this template

Given that the purpose of this is to create a production-ready website as fast as possible, I suggest adding some documentation in regards to frontend routing as I (a beginner) felt that was somewhat missing

I'm not sure if t

[2020-11-10 18:03] roblarsen commented on #2405
I'm sorry- we don't offer routing as a feature, so I'm not sure what there would be to document.

[2020-11-11 16:27] Hakeemmidan commented on #2405
Hi Rob,

Thank you for your quick response

I see. Nevertheless, I still think it may be a good idea to add some 'suggested tools' documentation (or something along those lines) to point users of the template in the right direction. Frontend routing is an integral part of any website, and I believe that this suggestive documentation will go along with this template's mission. But that's of course

[2020-11-11 16:44] roblarsen commented on #2405
I don't think we'll be doing that. I don't know of a situation where I would implement a standalone routing library. If you're doing a single page application chances are pretty good you're using a framework or library that provides this functionality. For an example, I know an awful lot about routing in Angular. Documenting that here wouldn't make sense.

Thanks for the thoughtful suggestion!

[2020-11-11 16:44] #2405 closed

[2020-11-12 16:21] ES-GEEK opened #2406 "Ond"

[2020-11-12 16:33] #2406 closed

[2020-11-20 07:15] july-12 opened #2407 "load third-part js lib which download into vendor are faild"
## why to load third-party js lib(eg: Threejs, react) always are faild  except loading from CDN

![image](https://user-images.githubusercontent.com/920487/99770930-39f39500-2b43-11eb-8e98-b97c69a744a2.png)

[2020-11-23 19:00] roblarsen commented on #2407
Is the file in your vendor folder? There's nothing stopping you from loading a file from your file system.

[2020-11-23 19:00] #2407 closed

[2020-12-07 03:59] anurag12-webster opened #2418 "Bdn"
V

[2020-12-07 04:09] #2418 closed

[2020-12-11 02:35] roblarsen opened #2421 "Set up Discussions"
Even after all these years we still find things to discuss.

[2020-12-14 13:25] ORG1L opened #2425 "OBJECT"
<html>
  <head>

  </head>
</html>

[2020-12-14 13:32] #2425 closed

[2020-12-15 19:42] Benjaminelpro7737 opened #2426 "Crear páginas web"
Crea una página web

[2020-12-15 20:49] #2426 closed

[2020-12-15 21:06] Benjaminelpro7737 commented on #2426
Uuuuuu

[2020-12-23 09:44] mtrvisionx opened #2429 "Bxbxbx"
Lllshshshs

[2020-12-23 09:48] #2429 closed

[2021-01-01 05:10] mohdjuwaiser opened #2431 "d"
**I'm submitting a ...**

- [ ] bug report
- [ ] feature request
- [ ] other (Please do not submit support requests here (below))

## Notes:

* Please **do not** use the issue tracker for personal support requests (use
  [Stack Overflow](https://stackoverflow.com/questions/tagged/html5boilerplate)).

* Please **do not** derail or troll issues. Keep the discussion on topic and
  respect the opinion

[2021-01-01 05:10] mohdjuwaiser commented on #2431
f

[2021-01-01 06:42] #2431 closed

[2021-01-03 14:23] resynth1943 opened #2433 "Allow the removal of Google Analytics"
**I'm submitting a ...**

- [X] feature request

## Notes

It seems a little crude to have to remove Google Analytics 'snippets' from various pages prior to using this boilerplate. As someone who wishes to avoid Google Analytics, I feel like I'm fighting against the template. Please consider an easy flag / import to disable this.

[2021-01-11 14:57] AusGirl opened #2439 "I got the front page on the server but no working site just "Hello world! This is HTML5 Boilerplate." http://localhost:1234/"
I got the front page on the server but no working site just "Hello world! This is HTML5 Boilerplate." http://localhost:1234/

So, where is the website? what should I do to view it? I'm on VSCode

[2021-01-11 15:00] roblarsen commented on #2439
Hi, that's the website. The only content we [ship with is that paragraph](https://github.com/h5bp/html5-boilerplate/blob/master/dist/index.html#L28)

I'm not sure what else you expect to see.

[2021-01-11 15:02] AusGirl commented on #2439
help me :( I'm so confused of this GITHUB, youtube also doesn't have any videos of how to run github codes

[2021-01-11 15:03] coliff commented on #2421
shall we close this now?

[2021-01-11 15:03] roblarsen commented on #2439
What are you trying to do?

[2021-01-11 15:05] AusGirl commented on #2439
I'm trying to find a html css editor and found this GITHUB page, and I tried to run this in VSCODE and it just shows "Hello world! This is HTML5 Boilerplate.". I don't know how to view the editor being developed here.

[2021-01-11 15:16] roblarsen commented on #2439
This is not an editor. It is a simple template for you to start creating a web site or application. You would use an editor like VS Code to edit the files to create your own site. HTML5 Boilerplate is probably not what you're looking for.

[2021-01-11 15:16] roblarsen commented on #2421
yes

[2021-01-11 15:16] #2421 closed

[2021-01-13 00:55] #2439 closed

[2021-01-30 02:44] krishdevdb opened #2447 "Feature Request - Use Of A Different Reseter/Normalizer"
**I'm submitting a feature request**

## Feature requests

Normalize CSS Has A Lots Of Issues And It is really popular and used across many sites plus it's heavy. Because Of That Our Sites Look Similar To Other Sites And They Are Heavy As Well. So, I Suggest That If We Need A Simple Reset. We can use something like [minireset.css](https://github.com/jgthms/minireset.css) by [jgthms](https://github

[2021-01-30 14:09] roblarsen commented on #2447
I think we're going to stick with normalize right now. Normalize is fruit of the same open source family tree as HTML5-Boilerplate so unless there's a real problem with it, I'm happy to stick with it.

[2021-01-30 14:09] #2447 closed

[2021-02-03 21:15] Skainor opened #2453 "."
.

[2021-02-03 21:15] #2453 closed

[2021-02-12 05:39] sagnur opened #2458 "Html"

[2021-02-12 05:39] sagnur commented on #2458
Tttt

[2021-02-12 07:00] #2458 closed

[2021-03-01 21:21] joshbambrick opened #2474 "Parcel renames favicon.ico"
**I'm submitting a ...**

- [ ] bug report
- [x] feature request
- [ ] other (Please do not submit support requests here (below))

## Notes:
I struggled for a while to understand why my favicon was not showing properly. It turns out I needed to add `<link rel="icon" href="favicon.ico" type="image/x-icon">` to `index.html` but this did not seem obvious to me and the comment `` was not very helpful

[2021-03-01 21:34] roblarsen commented on #2474
We do have it documented and you interpreted it correctly. Browsers pick up favicon.ico in the root of your site. Something else was going on with your icon.

https://github.com/h5bp/html5-boilerplate/blob/master/dist/doc/html.md#favicons-and-touch-icon

The shortcut icons should be put in the root directory of your site. favicon.ico is automatically picked up by browsers if it's placed in the roo

[2021-03-01 21:51] joshbambrick commented on #2474
I would ask you to double check this.

I understand that browsers pick it up in the root of the website, however, as I understand it, parcel modifies the file name which means this no longer gets picked up. The file 'mysite/favico.ico' gave me a 404. Having added the above modification, desktop browsers picked up the new favicon, and I can see the file name as `favicon.b30494fb.ico` in my case.

[2021-03-01 22:23] roblarsen commented on #2474
I don't need to double check the basic behavior or the way we implement favicons. The commit removing [<link rel="shortcut icon" href="/favicon.ico">](https://github.com/h5bp/html5-boilerplate/commit/6a71a7e9d51d3e936b50f7220426b6eca07b5512) is almost ten years old and Mathias' post is even older. So, what you're describing is not an issue with the documentation, but instead a configuration issue

[2021-03-01 22:27] joshbambrick commented on #2474
Great, I think that would be very helpful.

[2021-03-03 15:44] coliff commented on #2474
I find the cache-busting filenames in Parcel to be quite frustrating too, though sadly it can't be disabled. I think that feature will be added to Parcel v2 though. Perhaps a plugin like this: https://github.com/elwin013/parcel-plugin-static-files-copy is needed?

[2021-03-03 17:40] vltansky commented on #2474
Maybe we should migrate to [Vite ](https://github.com/vitejs/vite) instead?
Vite also has something similar to `create-html5-boilerplate` https://github.com/vitejs/vite/tree/main/packages/create-app

[2021-03-05 13:50] darsain opened #2477 ".sr-only used on inputs causes huge problems in some scrolling setups"
The current `sr-only` utility class uses `position: absolute` with no coordinates as the main method to remove and stop element from affecting layout.

This doesn't play well with some scrolling setups combined with browsers new "feature" of scrolling to elements it thinks user is interacting with.

The problem is isolated and explained here (affects Chrome): https://output.jsbin.com/sawuxacise

T

[2021-03-25 14:42] roblarsen opened #2487 "Replace Parcel (or write a Parcel plugin to copy a list of static files)"
https://v2.parceljs.org/getting-started/migration

There are security alerts related to parcel, which we can't remediate with the existing (deprecated) v1 package. We should update it if the new version also allows us to solve #2474 If not, something else?

We have some open issues with main.css and create-html5-boilerplate as well, so maybe this is a proper release point coming together.

[2021-03-25 14:55] coliff commented on #2487
I've been thinking about this too. Parcel v2's development appeared to have stalled a bit without an update since June 2020 - which made me hesitant to consider suggesting that we switch to it, but it [looks like there was a Beta 2 last week](https://github.com/parcel-bundler/parcel/releases). It's still 'Beta' though, so I'm not sure if that's something we should consider including with H5BP unti

[2021-03-25 17:01] vltansky commented on #2487
+1 for vite

Also vite have something similar to `create-html5-boilerplate` https://github.com/vitejs/vite/tree/main/packages/create-app

[2021-03-25 17:01] vltansky commented on #2487
+1 for vite

Also vite have something similar to `create-html5-boilerplate` https://github.com/vitejs/vite/tree/main/packages/create-app

[2021-03-28 11:18] alkame opened #2489 "modal for html."
Step 1) Add HTML:

Example

<button id="myBtn">Open Modal</button>

<div id="myModal" class="modal">

  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Some text in the Modal..</p>
  </div>

</div>
Step 2) Add CSS:

Example
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */

[2021-03-28 11:22] #2489 closed

[2021-03-30 15:07] roblarsen opened #2495 "Release Planning Superthread"
I think we need to do releases and work for four projects (this one, create, main.css and the site) I'm going to start to coordinate those releases here in this issue.  I will create milestones in each project to track progress in the individual projects, but the meta-progress will be captured here.

🏆 🍾 ☕ 🍻 🍷 🍕 ⭐

- [x]  Merge all the open Dependency PRs (Sorry! I usually do it all day Monday, bu

[2021-04-03 20:10] danwood opened #2501 "Inline @media print CSS shouldn't be inline anymore"
**I'm submitting a ...**

- [ ] bug report
- [ ] feature request
- [x] other (Please do not submit support requests here (below))

In version 8 of HTML5Boilerplate, the print styles are inlined using `@media print` with this comment above:

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.

[2021-06-22 11:34] Hello1456 opened #2546 "Html"

[2021-06-22 11:35] #2546 closed

[2021-06-24 05:00] coliff opened #2547 "RFC: Remove Google Universal Analytics script"
**I'm submitting a ...**

- [ ] bug report
- [x] feature request
- [ ] other (Please do not submit support requests here (below))

Setting up a new Google Analytics tracking ID provides a new Google Analytics 4 ID (starts with `G-`) and no longer provides a Universal Analytics tracking ID (starting with `UA-`). As such, the script we include by default in HTML5 Boilerplate is no longer useful to u

[2021-06-24 05:14] coliff opened #2548 "Review Modernizr Config, docs and update to 3.12.0"
**I'm submitting a ...**

- [ ] bug report
- [x] feature request
- [ ] other (Please do not submit support requests here (below))

We currently include Modernizr and a custom config which hasn't been update for 4 years. I think we should review the config and remove anything that isn't needed for our supported browsers. At a quick glance I would imagine css/flexbox and css/animations could be safe

[2021-06-24 05:24] coliff opened #2549 "Suggest remove 'Common Prefetch Links' from docs"
**I'm submitting a ...**

- [x] bug report
- [ ] feature request
- [ ] other (Please do not submit support requests here (below))

https://github.com/h5bp/html5-boilerplate/blob/master/src/doc/extend.md#common-prefetch-links

I don't think these are very helpful.

- Google's hosted libraries CDN isn't as popular as it once was.
- Users probably shouldn't be serving content directly from s3.amazona

[2021-06-24 05:41] coliff opened #2550 "RFC: Remove Separate mobile URLs docs"
**I'm submitting a ...**

- [ ] bug report
- [x] feature request
- [ ] other (Please do not submit support requests here (below))

Google doesn't recommend separate URLs as a site setup and it isn't common these days (responsive design has largely replaced it). I think we should consider removing this section from the Extend docs.
https://github.com/h5bp/html5-boilerplate/blob/master/src/doc/exten

[2021-06-25 16:00] roblarsen commented on #2550
👍

[2021-06-25 16:01] roblarsen commented on #2549
I didn't remember that we had that. 100%

[2021-06-25 16:02] roblarsen commented on #2548
+1 I'll take a look at this

[2021-06-25 16:03] roblarsen commented on #2547
A certain subset of our audience will be happy to hear this. I agree.

[2021-06-26 02:14] #2549 closed

[2021-06-28 03:59] coliff opened #2553 "RFC: Remove human.txt ?"
**I'm submitting a ...**

- [ ] bug report
- [x] feature request
- [ ] other (Please do not submit support requests here (below))

A `humans.txt` file is included by default in the project. I don't think this is an important file to include and not really suitable for all sites. It can be a nice thing to include for some sites but overall I think we should cover it in the docs but not include the

[2021-06-28 04:03] coliff opened #2554 "Include a SVG favicon"
**I'm submitting a ...**

- [ ] bug report
- [x] feature request
- [ ] other (Please do not submit support requests here (below))

I think we should add a SVG favicon to the root of the project. SVG favicons are support by all major browsers. As they are scalable vectors they typically have a smaller file size than a larger 24-bit PNG and can support dark mode via a media query.

This is a great p

[2021-07-02 16:14] VaibhavSharma24 opened #2557 "Adding Dark mode toggle button"
## Notes:

By This feature this website can be viewed in dark mode and it will enhance its design and more comfortable to use in night.

[2021-07-02 16:27] #2557 closed

[2021-07-02 16:29] VaibhavSharma24 commented on #2557
I would love to work on it can you assign me ?

[2021-07-14 18:36] mfurkan60 commented on #2553
I think we should create a Requirements folder (or whatever names) in the project. Can we keep the files that are not mandatory but that people need when necessary? We should keep files like human.txt in the required folder.

[2021-07-14 18:41] mfurkan60 opened #2560 "Sass Folders to the CSS folder?"
I think we should add Sass Folders to the CSS folder?
 and that situation can make the project more modern?

[2021-07-14 20:48] roblarsen commented on #2560
We could call it `styles` which would make it more generic.

[2021-07-27 06:46] zourdycodes commented on #2560
before creating the folder I think we have to make sure it's not gonna make any conflicts with the current style folder

[2021-07-27 13:12] isaac-friedman commented on #2560
Happy to help look through the code for conflicts but where would `style` in singular conflict with `styles` plural, or are you talking about a different issue?

[2021-07-27 13:38] roblarsen commented on #2560
I'm not sure what conflicts there might be.

[2021-07-27 23:33] zourdycodes commented on #2560
LOL I didn't see it as a plural or singular, my bad : )

[2021-07-27 23:47] roblarsen commented on #2560
This will all be sorted out. Thanks!

[2021-07-27 23:47] #2560 closed

[2021-07-29 08:33] weirdyang opened #2568 "Parcel v1 is no longer maintained"
**I'm submitting a ...**

-[ ] bug report
-[ ] feature request
-[x] other (Please do not submit support requests here (below))

On the npm site for parcel-bundler, there's a note:

`Parcel v1 is no longer maintained. Please migrate to v2, which is published under the 'parcel' package. See https://v2.parceljs.org/getting-started/migration for details.`

Are there any plans to migrate to v2?

[2021-07-29 17:56] roblarsen commented on #2568
We have thoughts? #2487

[2021-07-29 19:34] #2568 closed

[2021-08-03 20:21] Labib207 opened #2573 "My project"

[2021-08-03 20:21] Labib207 commented on #2573
Yt

[2021-08-03 20:22] #2573 closed

[2021-08-04 07:15] coliff commented on #2487
Parcel v2 Release Candidate 1 has just dropped!
https://v2.parceljs.org/blog/rc0/
As I mentioned earlier in the year, I was hesitant to switch to Parcel v2 while it was still in Beta as there could be more breaking changes but now its at a Release Candidate stage it should be pretty safe to think about upgrading to it. It fixes a lot of issues and has many improvements.

[2021-08-04 14:42] roblarsen commented on #2487
Oh, we should try it out, that would be great.

[2021-08-12 04:17] goellavish10 commented on #2553
I think we should mention the names and technologies used in the documentation instead. Users will most probably be deleting the humans.txt file when using this project.

[2021-08-14 20:46] roblarsen commented on #2553
@goellavish10 I'm pretty sure @coliff was talking about adding `humans.txt` to the documentation. We already document everything we do in terms of building the project. I quite like humans.txt, but I'm fine with getting rid of it as well.

[2021-08-16 16:00] roblarsen opened #2583 "Change 'master' to 'main' as default branch name"

[2021-08-18 14:34] #2553 closed

[2021-08-18 21:57] #2583 closed

[2021-08-23 16:24] Vvalbog opened #2590 "<h>hello world </h1>"

[2021-08-23 16:27] #2590 closed

[2021-09-18 22:58] amonio1705 opened #2606 "fd"
r

[2021-09-18 23:08] #2606 closed

[2021-10-05 08:41] Hubertpiet opened #2611 "Tabelka"

[2021-10-05 08:42] Hubertpiet commented on #2611
Gg

[2021-10-05 08:43] #2611 closed

[2021-10-14 02:16] coliff commented on #2547
We should look to get this done. Google are now quite aggressively nagging users to upgrade from Universal Analytics to GA4. 😅

[2021-10-14 02:16] coliff commented on #2550
I'll take care of this one.

[2021-10-16 04:45] AjayPratapSingh823 opened #2617 "I want to contribute on this project please assign it to me"
**I'm submitting a ...**

- [ ] bug report
- [ ] feature request
- [ ] other (Please do not submit support requests here (below))

## Notes:

* Please **do not** use the issue tracker for personal support requests (use
  [Stack Overflow](https://stackoverflow.com/questions/tagged/html5boilerplate)).

* Please **do not** derail or troll issues. Keep the discussion on topic and
  respect the opinion

[2021-10-27 01:47] coliff opened #2623 "Update Browser Support section on README"
This looks a bit dated:

![image](https://user-images.githubusercontent.com/1212885/138985621-ca73200c-7bca-47b3-9067-d9471a4363a8.png)

We don't need to mention the legacy section with IE9/IE10 at all anymore -and especially IE8(!). Probably not important to mention Opera, but we should mention Firefox ESR.

So I think we should do something similar to Bootstrap's approach by mentioning our brows

[2021-10-27 01:48] coliff opened #2624 "Update ESLint"
There was recently a major update to ESLint.
https://eslint.org/blog/2021/10/eslint-v8.0.0-released

We should update to it and ensure all tests pass.

[2021-10-29 12:33] Arilx7 opened #2627 "HTML"
<head>
<meta charset="UTF-8"/>
</head>

<body>
<h1> **السيرة الذاتية** </h1>
<p> الاسم: الاروى محمد القحطاني </p>
<p> الصف :اول ثانوي </p>
<p> الهوايات : الرسم والتصميم </p>
<p> المادة: تقنية رقمية</p>
</pody>

</htm1>

[2021-10-29 13:02] #2627 closed, assigned to nobody

[2021-10-30 17:15] inetbiz opened #2628 "Manifest Shortcuts"
**I'm submitting a ...**

- [ ] bug report
- [x] feature request
- [ ] other (Please do not submit support requests here (below))

## Append Main

Shorts are W3C compliant. [*Adding shortcuts*](https://www.w3.org/TR/appmanifest/#creating-shortcuts "webmanifest Shortcuts")

### Example
[code]
Just below https://github.com/h5bp/html5-boilerplate/blob/main/src/site.webmanifest#L3 add:
`lang": "xx_XX"

[2021-10-30 21:41] roblarsen commented on #2628
I would be interested in seeing more examples of what sort of things you can do with a manifest. We could add that to the documentation.

We do **not** add language encoding to files, by default. People don't change them, which can result in unexpected behavior.

[2021-10-30 22:51] inetbiz commented on #2628
Well if you make it clear that this is merely a recipe and that a link to the ISO standard is what they would replace. But, I understand.

Shortcuts become deep links. They prompt smart devices that they may also use those links as a starting URL instead of the primary. So if I had a collection of “Gardening tips” I can select that as the starting URL because it was defined in the shortcuts

[2021-10-30 23:47] roblarsen commented on #2628
It's a long-standing issue. We don't add language information. We try to cause the least harm. And no language information is better than the wrong language.

[2021-10-31 17:05] inetbiz commented on #2628
Ok How about a compromise? Comment the line out. Add to your README or
other document to uncomment and show a link to where they can complete the
entry? =)

On Sat, Oct 30, 2021 at 7:47 PM Rob Larsen ***@***.***> wrote:

[2021-11-02 02:58] roblarsen commented on #2487
#2581 drove me crazy, so at this point I'm voting we come up with a replacement for parcel. The stuff parcel does is great and would serve as a nice foundation for someone looking to dip their toes into modern app development. The thing is, I can't tell the stupid thing to copy files not referenced in the HTML without writing a plugin, so a bunch of files we would want to ship are not getting pick

[2021-11-02 19:57] DanielRuf opened #2633 "Wrong mod_headers lines?"
**I'm submitting a ...**

- [x] bug report
- [ ] feature request
- [ ] other (Please do not submit support requests here (below))

## Bug reports

It looks like there is `mod_headers` used but it should be probably `mod_rewrite`:

https://github.com/h5bp/html5-boilerplate/blob/main/dist/.htaccess#L942
https://github.com/h5bp/html5-boilerplate/blob/main/dist/.htaccess#L1000

[2021-11-02 20:33] roblarsen commented on #2633
the htaccess file is managed at https://github.com/h5bp/server-configs-apache/ If you're having an issue, that's the place

I will point out, before you open an issue over there, that Apache's own gzip compression documentation (which is referenced in the section of our htaccess you link to) uses mod_headers

https://httpd.apache.org/docs/current/mod/mod_deflate.html#precompressed

[code]

https:/

[2021-11-02 20:33] #2633 closed

[2021-11-02 20:36] DanielRuf commented on #2633
I think you could have also moved the issue ;-)

Well, then it seems the Apache docs are also wrong.

[2021-11-02 20:41] DanielRuf commented on #2633
Regarding deflate / gzip, well in the docs they use `Header append Content-Encoding gzip` so there `mod_headers` makes sense there.

But I see no `Header ...` in your blocks.

[2021-11-02 20:42] DanielRuf commented on #2633
At least it is somehoe confusing that there is no extra `ifmodule` for mod_rewrite in these blocks.

[2021-11-02 20:44] roblarsen commented on #2633
Sorry, it didn't appear to be a valid issue so I closed it. I didn't want to add an issue for another maintainer. That code is [3+ years old](https://github.com/h5bp/server-configs-apache/pull/136) so something that fundamental seems like it would have shaken out by now. I apologize if it's a valid issue.

[2021-11-04 21:36] Olobafish opened #2634 "Web template"

[2021-11-04 21:42] #2634 closed

[2021-11-04 21:43] roblarsen commented on #2628
We don't ship commented out code. People don't always change things, so shipping commented out code means we just ship unnecessary bytes. This would be good information for the extend documentation.

[2021-11-10 13:25] #2547 closed

[2021-11-10 15:05] inetbiz commented on #2628
We'll stick w/ shortcuts feature?

[2021-11-10 16:30] roblarsen commented on #2628
Sorry, if I haven't been clear. I'm only interested in potentially adding documentation. We will not ship a manifest to people that has nonsensical information. I got sidetracked by the proposal to add "en" to the language.

[2021-11-11 00:17] roblarsen commented on #2624
@isaac-friedman still want to take this?

[2021-11-11 00:45] #2628 closed

[2021-11-11 01:50] isaac-friedman commented on #2624
@roblarsen  sorry, my day job got a little busy. I should probably withdraw if it's time sensitive

[2021-11-11 02:33] roblarsen commented on #2624
@isaac-friedman no worries. I'm just working my way through issues right now.

[2021-11-11 03:31] #2624 closed

[2021-11-11 03:35] #2550 closed

[2021-11-22 16:54] #2623 closed

[2021-11-29 09:57] nielsjakob opened #2649 "Missing .mov?"
**I'm submitting a feature request**

Wondering why there's no mention of `mov`? Is this missing on purpose? Otherwise it would be great to add it :)

[2021-11-29 10:14] coliff commented on #2649
what do you mean by missing `mov`? Can you please explain further?

[2021-11-29 11:09] coliff commented on #2649
ah I see. Please could you open an issue at: https://github.com/h5bp/server-configs-apache ?
thanks!

[2021-11-29 11:09] #2649 closed

[2021-11-30 02:17] #2487 closed

[2021-11-30 02:21] roblarsen commented on #2474
Parcel is dead. Long live WebPack, apparently.

We do need to make sure that things like this don't happen going forward, so thanks for the report.

[2021-11-30 02:21] #2474 closed

[2021-11-30 02:23] roblarsen commented on #2391
This is working like magic.

https://github.com/h5bp/html5-boilerplate-template

Right now it's building based on pushes to master. I might change it to be on release, but I'm not sure right now. We could have the template repo be for people living on the edge and the create script for people who want stability in their lives.

Thanks @vltansky for the suggestion and getting this work started.

[2021-11-30 02:23] #2391 closed

[2021-11-30 02:23] roblarsen commented on #2391
This is working like magic.

https://github.com/h5bp/html5-boilerplate-template

Right now it's building based on pushes to master. I might change it to be on release, but I'm not sure right now. We could have the template repo be for people living on the edge and the create script for people who want stability in their lives.

Thanks @vltansky for the suggestion and getting this work started.

[2021-11-30 02:26] roblarsen opened #2650 "Create WebPack build to ship with the project"
Right now, we have a simple dev server with webpack. We need to go one step further and create a simple build step- Basically just copying the static files over and then doing normal housekeeping on the CSS and JS.

[2021-11-30 02:28] roblarsen opened #2651 "Create WebPack build to build the project?"
related to #2347

If #2650 is clean and tidy then, I guess so.

[2021-11-30 02:45] roblarsen opened #2652 "Update docs to focus on the difference between this repo and the project as end-users use it"
We need to do a much better job of describing the difference between this project and the **output** of this project, which is the thing that people actually use.

For example, the gulpfile is used by basically two people most of the time, me and @coliff (as well as any kind contributors who notice that we need to run a build 🥇) It's a tool used to **build** HTML5 Boilerplate, its not part of the

[2021-12-01 17:24] jeanlucaslima opened #2653 "Shoud .DS_Store files be automatic ignored?"
**I'm submitting a ...**

- [ ] bug report
- [x] feature request
- [ ] other (Please do not submit support requests here (below))

Should `.DS_Store` files be automatically ignored by the boilerplate?

[2021-12-01 17:33] roblarsen commented on #2653
Ignored how?

[2021-12-02 00:09] coliff commented on #2653
Yes, I think they should be added to `.gitignore`

[2021-12-02 00:27] roblarsen commented on #2653
If that's the case, then yes, but it also leads to the question of why we ship such a meager .gitignore with the project.

[2021-12-02 01:37] jeanlucaslima commented on #2653
@roblarsen well, there's already a `.gitignore` file with some standards like `node_modules` included. I don't see why not add `.DS_Store` so the Mac users out there won't commit it by mistake.

[2021-12-02 01:54] roblarsen commented on #2653
@jeanlucaslima I see that, thanks for the PR. I was asking because there are actually two pertinent `.gitignore` files in the project, one in the root folder for development of this project and one that we ship in `/dist/` which is the example `gitignore` we ship with the project.

[2021-12-02 02:33] #2653 closed

[2021-12-02 04:45] coliff commented on #2652
Also, related - we should definitely move the `docs/` dir out of `src/` and `dist/` to the root so they aren't duplicated.

[2021-12-02 16:38] jeanlucaslima commented on #2653
@roblarsen perfect! And thanks for merging.

Let me see if I get this right: the one in `/dist/` is the one available for download on the website?
If not, and the person gets the root one it means all `.DS_Store` files will be ignored and never committed by accident, which is the goal here.

[2021-12-02 16:41] roblarsen commented on #2653
@jeanlucaslima Yes, you've changed it for people working on the project, which is good.

It also got me thinking about the gitignore that we ship with the download file.  Which is also good.

So, thanks!

[2021-12-15 03:57] idasamit opened #2662 "Html"
1

[2021-12-15 03:58] #2662 closed

[2021-12-25 04:10] Past3rnak opened #2671 "Попытка 1"

[2021-12-26 01:04] #2671 closed

[2021-12-26 16:09] princek096 commented on #2652
Hello Sir, can i work on this issue?

[2021-12-27 21:52] roblarsen commented on #2652
Thanks, this one needs to be done by me.

[2021-12-29 18:35] Labib207 opened #2673 "Add ani mation"
This for add animatioun

[2021-12-29 18:35] #2673 closed

[2022-01-03 23:00] Tk8i opened #2680 "Yy"

[2022-01-04 00:20] #2680 closed

[2022-01-10 10:55] Rancher525 opened #2682 "Index.html"

[2022-01-10 11:07] #2682 closed

[2022-01-23 18:10] ChristopherEveningStar opened #2692 "Boiler Plate"

[2022-01-23 21:54] #2692 closed

[2022-02-18 17:14] darkknight20032001 commented on #2651
is anyone working on this issue?

[2022-02-18 17:47] roblarsen commented on #2651
@darkknight20032001 no. I'd be happy to work with you if you want to take a shot

[2022-02-19 10:58] darkknight20032001 commented on #2651
@roblarsen this is my first open source experience. Can u provide details to me pls???

[2022-02-20 10:00] ABABUOTURI opened #2706 "Company details"
https://code.sololearn.com/WhwND0jNi3fs/?ref=app

[2022-02-20 13:53] #2706 closed

[2022-02-21 13:37] roblarsen commented on #2651
@darkknight20032001 The goal of this issue is to replace [html5\-boilerplate/gulpfile\.babel\.js at main · h5bp/html5\-boilerplate](https://github.com/h5bp/html5-boilerplate/blob/main/gulpfile.babel.js) with WebPack.

The script does the following:

-  zips up the contents of the `dist` directory (minus `node_modules`, `package-lock.json`, `.cache`, and `dist`) and outputs it with the following pa

[2022-02-21 13:39] roblarsen opened #2711 "Fix failing dependabot initiated "push to template repo" builds"
[chore\(deps\-dev\): update webpack requirement in /src \(\#2710\) · h5bp/html5\-boilerplate@e64c4a5](https://github.com/h5bp/html5-boilerplate/actions/runs/1876062624)

🤔

[2022-02-27 17:36] BenRacicot opened #2712 "Questions"
I'm creating an issue here because I'm not only confused about how to work with the boilerplate but IMO the setup is not what web engineers expect at first glance.

Why is `dist` shipped to `main`? Typically we don't commit `dist` folders.
In `main` the CSS folder mentioned in usage.md does not exist? To create it would be strange because this is a boilerplate meant to pull-and-go. It's also confu

[2022-02-27 17:41] roblarsen commented on #2712
This is where HTML5 Boilerplate is built. To use the output of the project, try the options listed in the Quick Start section of the Readme (pasted below)

There is an open issue for me to make that more clear although it's the same as any other project. You don't check out [https://github.com/facebook/react](https://github.com/facebook/react) to use React.

## Quick start

Choose one of the follo

[2022-02-27 17:41] #2712 closed

[2022-02-27 17:58] BenRacicot commented on #2712
Hey Rob! Thanks for pasting that in here. I had read all of that previously but just wanted to hear your opinion on pulling main and experiencing what I described.

Could you also give some details on setting up **scss**?

[2022-02-27 18:06] roblarsen commented on #2712
Yeah, it's been an issue for a while #2652 I just haven't had time to get it up and running.

I can write up setting up scss for the docs. I have wanted to add some new how-tos to the docs.

[2022-02-27 18:19] BenRacicot commented on #2712
If I knew how to configure the webpack config I would commit the PR.

If I can help please let me know how. Otherwise perhaps I can buy you a coffee for setting that up for all of us h5bp users?

[2022-03-04 06:00] coliff opened #2716 "doc directory should be renamed to docs"
**I'm submitting a ...**

- [ ] bug report
- [ ] feature request
- [x] other (Please do not submit support requests here (below))

I think the **doc** directory would be better named as **docs**. That's the standard name for documentation I think.

[2022-03-04 06:16] coliff opened #2717 "update supported node versions"
**I'm submitting a ...**

- [ ] bug report
- [ ] feature request
- [x] other (Please do not submit support requests here (below))

The node versions in package.json and tests reference old, unstable versions (v10 and v12).
I suggest we update them to active versions.
https://nodejs.org/en/about/releases/

[2022-03-04 06:28] coliff opened #2718 "Remove `.htaccess` from dist?"
**I'm submitting a ...**

- [ ] bug report
- [ ] feature request
- [x] other (Please do not submit support requests here (below))

We currently ship a `.htaccess` file for Apache servers which is a really helpful file for Apache servers, but I think many/most sites built today are not necessarily hosted on a server. With the advent of serverless I suggest that we no longer need to include this fil

[2022-03-05 01:22] #2652 closed

[2022-03-07 07:55] NehaK275 commented on #2717
hi @coliff can i solve this?

[2022-03-07 23:31] Efra2022 opened #2721 "Hola"
Hola

[2022-03-07 23:38] #2721 closed

[2022-03-09 00:42] BiancaCIbarra opened #2722 "test 1"

[2022-03-09 00:47] #2722 closed

[2022-03-09 20:05] #2716 closed

[2022-03-09 20:07] roblarsen commented on #2718
I'd buy that. I would like to add an option to the create script to pull in the apache or nginx config. Let me create an issue over there to track that.

[2022-03-11 13:13] Aminmohammadzadeh opened #2724 "Test"

[2022-03-11 13:18] #2724 closed

[2022-03-11 17:25] MrOWAR opened #2725 "."

[2022-03-11 18:31] #2725 closed

[2022-03-15 12:47] raquelocasio opened #2728 "This repo keeps appearing on my Github main page?!?"
This repo keeps appearing on my Github main page, but I have not forked or starred it. Can someone please remove me from this repo's subscriber list?

[2022-03-15 13:03] oriolaakeem commented on #2728
Go to the email and click on the unsubscribe link.

[2022-03-15 17:24] roblarsen commented on #2728
We can't add anyone without their permission to our subscriber list.

If you see an "unwatch" button or a filled-in star when you view our repo, that means you are watching it (which is the same as subscribing) or starred it (which is much less noisy)

![image](https://user-images.githubusercontent.com/361421/158434696-f6cdbf43-dea8-41c0-83de-5cd63811f8e7.png)

Looking at your profile, I wonder if

[2022-03-15 17:24] #2728 closed

[2022-04-02 14:23] JaimeSilva02 opened #2737 "P"
Teste

[2022-04-02 14:23] #2737 closed

[2022-04-12 01:49] coliff commented on #2717
heya @NehaK275 - its ok now thanks. I'll make a PR for it now. :-)

[2022-04-12 15:28] #2717 closed

[2022-04-12 15:34] roblarsen opened #2749 "Use actions to label and milestone across repos"
Since so many of our repos need to be updated to properly craft a release here, we should be able to set labels and milestones across repos. This is doable with Actions (and is coming at some point, I think.)

[2022-04-13 03:49] coliff commented on #2711
heya - this issue title is 'Fix failing **dependabot**...' do you mean GitHub Actions? I had a look and didn't see any dependabot related issue there.

I had a quick look at the code and only thing I can think of it is that the Personal Access Tokens might not be set right? Maybe regenerate it and try again? We've used the GitHub Actions versions since February so hopefully it might work now.

[2022-04-13 09:45] roblarsen commented on #2711
I can write it up in more detail, but it ONLY fails with dependabot initiated builds. When I merge regular PRs it works

[2022-04-15 16:36] Abdou840 opened #2750 "H"

[2022-04-15 16:36] #2750 closed

[2022-04-15 19:57] #2711 closed

[2022-04-16 01:21] coliff opened #2751 "Use GitHub Issue Form Templates"
**I'm submitting a ...**

- [ ] bug report
- [x] feature request
- [ ] other (Please do not submit support requests here (below))

[GitHub offers neat Issue templates](https://github.blog/changelog/2021-06-23-issues-forms-beta-for-public-repositories/). You can have required checklists so users can't ignore that they've read through the issue requirements. I think it would be very helpful to add '

[2022-04-18 13:12] 2660asdfghjkl1 opened #2757 "@roblarsen - there's some more PRs for your reviewing pleasure. :-)"
@roblarsen - there's some more PRs for your reviewing pleasure. :-)
https://github.com/pulls?q=is%3Apr+is%3Aopen+archived%3Afalse+sort%3Aupdated-desc+review-requested%3Aroblarsen
Will have more PRs coming soon too. Keen to get projects back on track!

_Originally posted by @coliff in https://github.com/h5bp/html5-boilerplate/issues/2755#issuecomment-1101326000_

[2022-04-18 13:16] #2757 closed

[2022-04-19 18:33] roblarsen commented on #2749
It looks like we'll be able to create custom workflows in GitHub projects that will allow this to happen, GitHub native:

![image](https://user-images.githubusercontent.com/361421/164071923-c59c0473-a79e-4b86-bfc0-468c1a091868.png)

[2022-04-19 18:33] #2749 closed

[2022-04-20 00:11] coliff commented on #2749
Yes, I'm really looking forward to those custom workflows!

[2022-05-15 11:04] jinn0401 opened #2763 "Index"

[2022-05-15 11:11] #2763 closed

[2022-05-17 20:38] roblarsen opened #2764 "Apply New or Neglected Best Practices to the Repo"
And document them!

Hopefully thoughtful configuration of this and other repos will help others do the same. I have lagged behind the standards I've set in my professional projects with the configuration of the H5BP repos.

[2022-05-22 05:45] jinn0401 opened #2765 "Index.html"
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Profile Card</title>
	<link rel="stylesheet" href="main.css" />
</head>
<body>
	<main>
		<div class="card">
		<div class="image">
				<img src="https://github.com/TylerPottsDev/yt-css-profile-card/blob

[2022-05-22 05:58] jinn0401 opened #2766 "README.md"

[2022-05-22 06:20] #2766 closed

[2022-05-22 06:21] #2765 closed

[2022-06-04 02:19] coliff opened #2773 "Farewell Internet Explorer!"
**I'm submitting a ...**

- [ ] bug report
- [x] feature request
- [ ] other (Please do not submit support requests here (below))

[The Internet Explorer 11 desktop application will end support for Windows 10 semi-annual channel starting June 15, 2022.](https://docs.microsoft.com/en-us/lifecycle/products/internet-explorer-11)

It'd make sense for HTML5 Boilerplate to drop support for IE11 in the n

[2022-06-07 01:32] roblarsen commented on #2773
Let us do this.

[2022-06-07 01:34] #2718 closed

[2022-06-07 15:34] roblarsen commented on #2773
closed via #2781

[2022-06-07 15:35] roblarsen commented on #2764
This is actually done, I just need to document it, but the branch protection rules are blocking the automatic dist build. 🤔

[2022-06-07 15:36] roblarsen commented on #2764
https://github.com/h5bp/html5-boilerplate/runs/6777433545?check_suite_focus=true

😭

[2022-06-07 15:37] roblarsen commented on #2773
I just can't hide it.

[2022-06-07 15:46] coliff commented on #2773
yep, it's amazing thinking back to the browser landscape when [HTML5 Boilerplate started in Summer 2010](https://github.com/h5bp/html5-boilerplate/wiki/history) and seeing how predominant IE was.

![image](https://user-images.githubusercontent.com/1212885/172423961-fbdd7b08-6e4d-492a-80ac-0d3bb5add334.png)

from: https://gs.statcounter.com/browser-version-partially-combined-market-share/desktop/wo

[2022-06-07 15:52] roblarsen commented on #2764
https://github.com/github-community/community/discussions/13836

https://github.community/t/how-to-push-to-protected-branches-in-a-github-action/16101

[2022-06-08 00:41] #2773 closed

[2022-06-08 02:07] coliff opened #2785 "Add Code QL (Code scanning alerts)"
**I'm submitting a ...**

- [ ] bug report
- [x] feature request
- [ ] other (Please do not submit support requests here (below))

GitHub has a powerful and easy to setup code scanning alerts which automatically detects common vulnerability and coding errors. I would recommend every open-source project to include it. To setup go to the 'Security' section/tab of the repo, click the 'Set up code sca

[2022-06-08 18:37] #2785 closed

[2022-06-19 18:16] sahilulhaque17 commented on #2764
Gut pull

[2022-06-19 18:16] sahilulhaque17 commented on #2764
Git pull

[2022-06-27 08:17] realProfessional1 opened #2789 "I created a dark and light theme"
[code]

[2022-06-27 08:20] #2789 closed

[2022-06-30 22:45] roblarsen opened #2791 "VS Code Integration?"
Is there something we can do there? Don't mind me, I'm just looking for interesting stuff to do as I try to amp up my OS contributions over this summer.

[2022-07-01 18:46] roblarsen opened #2803 "Deal with issues building `dist` against a protected branch"
The build dist action fails every time now that we've protected the branch. This is a placeholder to sort out what to do with it.

[2022-07-04 21:37] roblarsen commented on #2495
I'm finally giving create-html5-boilerplate some attention

[2022-07-08 01:56] roblarsen opened #2804 "Build out the introduction of https://github.com/h5bp"
How did I miss this functionality?

https://github.com/h5bp/.github

[2022-07-09 12:26] roblarsen commented on #2804
👍

[2022-07-09 12:26] #2804 closed

[2022-07-13 15:09] #2764 closed

[2022-07-14 17:33] #2548 closed

[2022-07-20 09:18] nasarlalu opened #2817 "Html"

[2022-07-20 09:53] #2817 closed

[2022-08-01 01:26] GhosTraider-001 opened #2822 "001"

[2022-08-01 01:28] #2822 closed

[2022-08-10 14:01] #2651 closed

[2022-08-12 03:35] RealPIEGamer commented on #2791
Do you mean the web version of VS Code for a website? if so, an IFrame should theoretically work,

[2022-08-19 11:12] Buzzieray16 opened #2833 "Bzbsbs"

[2022-08-19 11:20] #2833 closed

[2022-08-22 08:19] Ronald2003 opened #2836 "MY PROFILE"
wala lang

[2022-08-22 08:20] #2836 closed

[2022-08-25 17:48] NEHACHOURASIYA opened #2839 "Facebook mini project"

[2022-08-25 18:35] #2839 closed

[2022-08-25 22:19] Typingkid commented on #2803
ok

[2022-08-26 09:24] momin-riyadh opened #2840 "SASS/SCSS Support"
**I'm submitting a ...**

- [ ] feature request

## Feature requests

It would be better for boilerplate to offer full support for SASS/SCSS configurations

[2022-09-02 21:29] roblarsen commented on #2840
@momin-riyadh What would you expect that support to look like?

[2022-09-02 23:59] momin-riyadh commented on #2840
Like l run a command line from parcel bundler and my scss file compile simultaneously.

[2022-09-03 01:10] roblarsen commented on #2840
Thanks. The CSS files that are there would not benefit from being SCSS files (I've experimented with it) but if the basic workflow was beneficial I wouldn't be against it. But I've actually look ed at converting the source files to being SCSS natively and there's no benefit other than the plumbing,

[2022-09-05 10:30] Ngeti258 commented on #2791
i would like to help

[2022-09-15 15:52] kenpachi-l3 opened #2849 "Tests"
Emprestado

[2022-09-16 07:37] Neutral00 opened #2850 "<head>"

[2022-09-16 07:38] #2850 closed

[2022-09-16 10:43] #2849 closed

[2022-09-19 15:02] BaraAlqady123 opened #2852 "Html code"

[2022-09-19 15:05] #2852 closed

[2022-09-19 16:48] IsraelCesarA opened #2853 "Projeto01"

[2022-09-19 16:57] #2853 closed

[2022-09-28 04:54] Robert-dk opened #2856 "Html"

[2022-09-28 05:45] #2856 closed

[2022-10-15 05:25] ankit7248 commented on #2791
I would like to help on VS Code intergration

[2022-10-25 21:51] Zezindoarroz opened #2869 "José rivaldo pereira gaia"

[2022-10-25 21:52] #2869 closed

[2022-11-01 19:39] roblarsen commented on #2791
Someone did something already. How did I not know this?

https://marketplace.visualstudio.com/items?itemName=sidthesloth.html5-boilerplate

[2022-11-01 19:40] roblarsen commented on #2791
It's browsehappy era!

[code]

[2022-11-04 03:50] BabiAndrad opened #2872 "HTML5"

[2022-11-04 04:18] #2872 closed

[2022-11-20 10:58] Rufai5 opened #2875 "Java 1"

[2022-11-20 11:52] #2875 closed

[2022-11-30 10:53] xididri opened #2876 "[question] How to publish static assets?"
**I'm submitting a ...**

- [ ] bug report
- [ ] feature request
- [x] other (Please do not submit support requests here (below))

How to I make static assets available on the published website? I want to publish at mywebsite.com/some-image.png so I can use it as an OpenGraph image (which does not allow relative URL).

I tried to create a `public` folder and a `static folder` but they are not copi

[2022-11-30 18:11] roblarsen commented on #2876
Parcel is dumb #2487

[2022-11-30 18:12] roblarsen commented on #2876
We're replacing it, but I've been terrible at getting this release out the door.